body
  background: #cddfe2
  color: #3b3d3d
  font-family: 'Open Sans', sans-serif
  font-size: 1.7em
  line-height: 1.6em
  text-align: justify

h2
  color: #222
  font-size: 2em
  letter-spacing: -1px
  font-weight: bold
  line-height: 1.2em
  text-indent: -2px
