- var pageTitle = 'Deskripsi Kuliah'

include presentation-header

include menu

article#presentation


	section
		h2 Teknologi Kolaborasi Pengembangan Perangkat Lunak
		h3 TI-B (Sore)


	section
		h2 Disusun Oleh :
		ul
			li Handoko Wijaya (13 111 0909) 
			li Vincent        (13 111 0372)
			li Syefrianto     (13 111 1556)
			li Vincent        (13 111 2951)

	section
		h1 Microsoft Windows
		ul
			li Windows 1.0
			li Windows 2.0
			li Windows 3.0
			li Windows 95
			li Windows 98
			li Windows 2000
			li Windows ME
			li Windows XP
			li Windows Vista
			li Windows 7
			li Windows 8
			li Windows 10

		
include presentation-footer
include main-footer
