- var pageTitle = 'Windows Vista'

include presentation-header

include menu

article#presentation

	section
		h1 Windows Vista

	section
		p  Windows Vista adalah sistem operasi berbasis grafis dari Microsoft yang digunakan pada komputer pribadi (PC), baik untuk pengguna rumahan maupun bisnis, pada komputer laptop, maupun media center.
		img(src="images/windows_vista.jpg")

	section
		p  Sebelum diumumkan dengan nama Windows Vista pada 22 Juli 2005, sistem operasi ini lebih dikenal dengan codename Longhorn (berasal dari nama Longhorn Saloon, sebuah bar terkenal di Whistler, British Columbia, Kanada).
		p  Microsoft meluncurkan Windows Vista pada 8 November 2006 untuk pengguna bisnis, dan 30 Januari 2007 untuk pengguna rumahan. Dengan demikian, peluncuran Windows Vista ini berjarak lebih dari lima tahun sejak peluncuran Windows XP pada 25 Oktober 2001.
		img(src="images/Windows_Vista.pNg")

	section1
		p  Menurut Microsoft, komputer yang dapat menjalankan Windows Vista diklasifikasikan sebagai "Vista Capable" dan "Vista Premium Ready"
		ul
			li  Komputer "Vista Capable" memerlukan minimal prosesor 800 MHz, 512MB RAM, dan <br>kartu grafis dengan kelas DirectX 9. Namun klasifikasi ini tidak akan mampu untuk <br>mendukung grafis high-end Vista, termasuk antarmuka Aero
			li  Komputer "Vista Premium Ready" memerlukan setidaknya prosesor 1 GHz, 512 MB RAM, <br>dan kartu grafis yang kompatibel dengan antarmuka Aero minimal 128MB serta mendukung <br>WDDM yang baru

	setion
		p  Spesifikasi Minimum Untuk Install Windows Vista:
		img.big(src="images/klasifikasi-windows-vista.png")

	section2
		h2 Fitur Windows Vista
		p
		ul
			li Windows Aero, desain baru antarmuka pengguna, singkatan dari Authentic, Energetic, <br>Reflective, and Open. Antarmuka baru ini dimaksudkan agar lebih estetis dan bersih<br> ketimbang antarmuka Windows sebelumnya, termasuk jendela-jendela transparan,<br> animasi, dan tampilan yang bagus. Animasi pada Windows Aero dapat nampak pada <br>saat aplikasi ditutup, diminimalisasikan, dimaksimalisasikan, dan juga pada tombol<br> rekomendasi.
			p
			li Windows Shell, Windows shell yang baru ini berbeda sekali dengan Windows XP. <br>Sebagai contoh, Start Menu yang telah diubah, bahkan kata "Start" pun telah digantikan <br>dengan tombol Windows "Pearl" biru yang baru.

	section2
		h2 Fitur Windows Vista
		p
		ul
			li Windows Search, Sebuah komponen pencari baru dari Windows Vista, fitur pencarian <br>instan (juga dikenal sebagai pencarian saat Anda mengetik), yang menyediakan hasil <br>pencarian instan, sehingga menemukan file lebih cepat daripada pencarian fitur <br>ditemukan di versi Windows sebelumnya. Pengguna dapat mencari metadata tertentu <br>seperti nama, ekstensi, ukuran,tanggal atau atribut.
			p
			li Windows Sidebar: Sebuah panel transparan berlabuh ke sisi layar di mana pengguna <br>dapat menempatkan Desktop Gadget, yang dirancang untuk tujuan khusus (seperti<br> menampilkan cuaca atau skor olahraga). Gadget juga dapat ditempatkan di desktop.
			p
			li Windows Internet Explorer 7, antarmuka pengguna baru, tabbed browsing, RSS, kotak <br>pencarian, perbaikan pencetakan, Page Zoom, Quick Tabs, Anti-Phishing filter, sejumlah <br>fitur perlindungan keamanan baru,  Internationalized Domain Name support (IDN), dan <br>meningkatkan dukungan standar web.

	section2
		h2 Fitur Windows Vista
		p
		ul  
			li Windows Media Player 11: GUI baru untuk perpustakaan media, menampilkan foto dan <br>organisasi, kemampuan untuk berbagi perpustakaan musik melalui jaringan dengan <br>mesin lain Windows Vista, Xbox 360 integrasi, dan dukungan untuk lainnya Media Center <br>Extender.
			p
			li Windows Defender: Sebuah program antispyware dengan beberapa agen perlindungan <br>real-time. Ini termasuk fitur explorer software, yang menyediakan akses ke program <br>startup, dan memungkinkan seseorang untuk melihat saat ini menjalankan perangkat <br>lunak, aplikasi jaringan yang terhubung, dan penyedia Winsock (Winsock LSP).

	section2
		h2 Fitur Windows Vista
		p
		ul  
			li Backup dan Restore Center: Termasuk cadangan dan mengembalikan aplikasi yang memberikan <br>pengguna kemampuan untuk jadwal berkala backup file di komputer mereka, serta pemulihan <br>dari backup sebelumnya.
			p
			li Windows Mail: Sebuah pengganti Outlook Express yang mencakup penyimpanan surat baru yang <br>meningkatkan stabilitas, dan fitur terintegrasi pencarian instan.
			p
			li Windows Calendar: adalah kalender dan tugas aplikasi baru yang terintegrasi dengan Windows <br>Kontak dan Windows Mail.
			p
			li Windows Photo Gallery: Aplikasi manajemen perpustakaan foto dan film. Hal ini dapat mengimpor <br>dari kamera digital, tag dan menilai setiap item, menyesuaikan warna dan eksposur, membuat <br>dan slideshow display (dengan pan dan efek pudar) melalui Direct3D dan membakar slideshow <br>ke DVD.
			
	section2
		h2 Fitur Windows Vista
		p
		ul 
			li Windows Media Center
			li Game Explorer
			li Windows Mobility Center
			li Windows Fax dan Scan
			li Windos Meeting Space
			li Windows Update
			li Windows System Assessment Tool
			li Windows Ultimate Extras
			li dll

	section1
		p  Windows Vista tersedia dalam 6 (enam) edisi, yakni:	
		ul
			li  Windows Vista Starter
			li  Windows Vista Home Basic
			li  Windows Vista Home Premium
			li  Windows Vista Business
			li  Windows Vista Enterprise
			li  Windows Vista Ultimate

	section
		h2 Windows Vista Starter
		p Mirip seperti Windows XP Starter Edition,edisi ini masih berteknologi 32-bit, edisi ini dibatasi untuk area lokal, terutama sebagai alternatif legal ketimbang penggunaan kopi bajakan. Pengguna edisi ini akan sangat dibatasi pemakaiannya, misalnya hanya bisa untuk memakai tiga program sekaligus dalam satu waktu, pembatasan koneksi jaringan, dan physical memory dibatasi hanya hingga 256MB.

	section
		h2 Windows Vista Home Basic
		p  Seperti Windows XP Home Edition,dengan teknologi 64-bit, fiturnya juga bertambah banyak. Tetapi tidak sebanyak edisi yang lain, Home Basic ditujukan bagi pengguna rumahan yang tidak memerlukan fasilitas lebih tinggi. Tema "Aero Glass" dengan efek transparan juga tidak akan termasuk dalam Edisi ini. Home Basic hanya mendukung hingga 8GB physical memory.

	section
		h2 Windows Vista Home Premium
		p  Didasari Windows Vista Home Basic, edisi ini memiliki tambahan dukungan fitur-fitur lebih tinggi yang ditujukan untuk segmen pengguna rumahan, seperti dukungan HDTV dan pembuatan menu DVD. Tambahan lainnya adalah games yang lebih banyak, dukungan untuk komputer tablet dan mobile, sistem enkripsi file, serta aplikasi manajemen foto. Edisi ini mirip dengan Windows XP Media Center Edition dan Tablet PC Edition. Home Premium mendukung hingga 16GB physical memory.

	section
		h2 Windows Vista Business
		p  Sebanding dengan Windows XP Professional, dan ditunjukan untuk pengguna bisnis. Fitur Media Center yang ada dalam Home Premium tidak dimasukkan dalam edisi ini, tetapi memiliki fasilitas IIS web server, dukungan faksimili, offline files, dukungan dual physical processor, Remote Desktop, kolaborasi P2P, dan mampu menangani hingga 128GB memori. Aktivasi produk tidak diperlukan untuk edisi ini.

	section
		h2 Windows Vista Enterprise
		p  Edisi ini ditujukan untuk segmen enterprise, dan merupakan edisi tingkat tinggi dari edisi Business. Fitur-fitur tambahannya di antaranya adalah versi sesi-tunggal dari Virtual PC, dukungan antarmuka multibahasa, BitLocker Drive Encryption, dan dukungan untuk aplikasi UNIX. Edisi ini tidak akan tersedia melalui saluran retail ataupun OEM, melainkan melalui Microsoft Software Assurance.

	section
		h2 Windows Vista Ultimate
		p  Edisi ini menggabungkan seluruh fitur-fitur Home, Premium, dan Enterprise. Dalam edisi ini juga ditambahkan dukungan pembuatan podcast (yang dialihbahasakan oleh Microsoft menjadi "blogcasting"), program peningkat-kinerja game (WinSAT), fasilitas DVD ripping, dan layanan online khusus untuk media yang dapat diunduh, serta opsi layanan pelanggan tambahan lainnya. Edisi Ultimate ditujukan sebagai edisi Vista yang paling impresif, ditujukan bagi para pengguna high-end, pemain game, para profesional multimedia, serta para pecandu PC. Seperti edisi Business dan Enterprise, aktivasi produk juga tidak diperlukan.

	section1
		h2 Kelebihan Windows Vista
		p  Security
		ul
			li Windows Vista secara otomatis dapat mengaktifkan Firewall terintegrasinya sehingga ketika layanan <br>jaringan berfungsi, sistem tidak dapat diakses dari luar.
			li Proteksi security Windows Vista ketika Melakukan browsing diinternet lebih aman, karena Windows <br>Vista menggunakan Konsep SDL (Secure Development Lifecyle) yang menginformasi Virus Aktif <br>baik itu yang sering menyusup seperti virus dan worm tidak melalui Security Centre melainkan<br> lewat Windows Monitor dengan jalur interface yang lebih aman, sehingga penyebabnya pun <br>terdeteksi
			li Resiko kehilangan data lebih kecil karena chace mode yang lebih baik untuk removable strorage <br>( seperti pada flash disk ) membuat data tersimpan aman.

	section1
		h2 Kelebihan Windows Vista
		p  Security
		ul
			li Dapat mengenkripsi partisi dan drive lain serta dapat dikunci dengan Multi Factor Authen Tification <br>dengan menggunakan TPM Module ( PIN ) dan UFD.
			li Pada saat instalasi, pengguna harus menyimpan Password Hint. Tanpa ini windows tidak berjalan.
			li Dalam Remote Administration Windows Vista dilengkapi Digital Signature sehingga saat melakukan <br>Akses Remote sangat aman.

	section1
		h2 Kelebihan Windows Vista
		p  Stabilitas
		ul
			li Windows Vista dapat menampilkan preview setiap type file.
			li Windows Vista lebih cepat dalam pencarian data walau dalam struktur susunan yang <br>kompleks dengan Aplikasi pencarian Cepat. (aplikasi yang dikembangkan oleh apple <br>tahun 2005 yang disebut spotlight).
			li Vista dapat membaca media dengan menggunakan sistem file exFAT
			li Vista dapat membaca SD Card dengan tekhnologi SD ADMA ( Advanced DMA ).
			li Sharing data di area jaringan dapat dilakukan dengan cepat.

	section1
		h2 Kelebihan Windows Vista
		p  Stabilitas
		ul
			li Vista dapat meakukan transfer data dari hardisk sampai 25MB/Second.
			li Vista sangat cepat dalam proses menampilkan File Visual.
			li Vista sangat cepat dalam proses extarct file dari ZIP ataupun WINRAR.
			li Vista dapat mendeteksi suatu type jaringan untuk dipilih kemudian diaktifkan.
			li Dapat melakukan emulator dari FAT 64 ke FAT 32.
			li Windows Vista tersedia SRT (Starup Repair Tool) sehingga dengan SRT <br>dapat merestore file-file sistem tanpa harus instal ulang.

	section1
		h2 Kekurangan Windows Vista
		ul
			li Pemakai dibuat bingung. Sejak awal, pemakai mengeluh tentang banyaknya versi Vista yang <br>dijual. Siapa yang membutuhkan semua varian ini? Yang dibutuhkan hanyalah satu versi <br>sederhana (Home) dan satu versi yang memiliki semua fitur (Pro). Kebingungan ini tampaknya <br>terjadi karena tidak ada karyawan Microsoft yang mengerti strategi pemasaran.
			li Ukuran source code. Terlalu besar, sehingga menyita banyak ruang memori PC pemakai.
			li Kinerja Lambat. Hal ini dikarenakan terlalu besarnya ukuran Source Code.
			li Komponen - komponen yang hilang. WinFS, filesystem yang dijanjikan dan salah satu pilar <br>utama Vista tidak datang dengan Vista. Pengembangan filesystem ini dimulai di tahun <br>1991, dan hingga kini masih belum terselesaikan. Mengapa?

	section1
		h2 Kekurangan Windows Vista
		ul
			li Pemborosan baterai laptop. Hal ini seharusnya diperbaiki dengan source code terpisah dan <br>hybrid hard disk (HHD). Tetapi, saat ini pemakai masih harus menggunakan SSD yang sangat <br>mahal.
			li HHD. Beberapa pengguna masih sangat kesal ketika diberi tahu oleh industri HD bahwa <br>keuntungan generasi baru hard disk (HD) akan "membuat semua pemakai pindah ke Vista." <br>Hal ini diumumkan dua tahun yang lalu, dan hingga kini masih belum ada kelanjutannya. <br>Tebakan kurang lebih adalahproduk ini tidak akan bekerja dengan baik, dan masih <br>belum yang dapat menyelesaikan masalah ini.
			li Stiker Vista Capable palsu. Kampanye "Windows Vista Capable" Microsoft adalah sebuah <br>kegagalan marketing yang besar. Banyak komputer dijual dengan stiker "Windows Vista<br> Capable" yang ternyata tidak mampu mengoperasikan Vista.

	section1
		h2 Kekurangan Windows Vista
		ul
			li Tampilan tidak begitu membanggakan. Hal ini di karenakan karena hanya ada sedikit <br>perubahan tampilan sehingga tidak nampak "wah" untuk seukuran New Produk dari sebuah<br> perusahaan besar seperti Microsoft.
			li Tidak ada saran yang konsisten untuk pemakai, dan Microsoft tidak turun tangan. Beberapa <br>orang mengatakan bahwa anda sebaiknya membeli komputer baru dengan Vista dan tidak<br> melakukan upgrade dari XP, ada yang mengatakan upgrade boleh dilakukan. Microsoft <br>seharusnya membuat sebuah situs khusus yang dapat menguji komputer dari internet dan <br>menyarankan pemakai apakah mereka sebaiknya membeli komputer baru, atau melakukan<br> upgrade.

	section1
		h2 Kekurangan Windows Vista
		ul
			li Driver yang minim. Cukup mengherankan bahwa semua driver Windows yang ada di XP tidak <br>kompatibel dengan Vista. Apa yang terjadi?
			li Pemasaran yang tanggung. Tidak seperti peluncuran Windows versi sebelumnya, Microsoft<br> tidak banyak memasarkan Vista. Walaupun ada beberapa poster dan iklan TV untuk Vista, <br>pemasaran Vista tidak dapat dibandingkan dengan peluncuran beberapa versi sebelumnya, <br>di mana mereka berhasil mendapatkan perhatian orang di seluruh dunia.

include presentation-footer
include main-footer