- var pageTitle = 'Windows Vista'

include presentation-header

include menu

article#presentation
	section
		h1 Windows Vista

	section
		p  Windows Vista adalah sistem operasi berbasis grafis dari Microsoft yang digunakan pada komputer pribadi (PC), baik untuk pengguna rumahan maupun bisnis, pada komputer laptop, maupun media center.
		img(src="images/windows_vista.jpg")

	section
		p  Sebelum diumumkan dengan nama Windows Vista pada 22 Juli 2005, sistem operasi ini lebih dikenal dengan codename Longhorn (berasal dari nama Longhorn Saloon, sebuah bar terkenal di Whistler, British Columbia, Kanada).
		p  Microsoft meluncurkan Windows Vista pada 8 November 2006 untuk pengguna bisnis, dan 30 Januari 2007 untuk pengguna rumahan. Dengan demikian, peluncuran Windows Vista ini berjarak lebih dari lima tahun sejak peluncuran Windows XP pada 25 Oktober 2001.
		img(src="images/Windows_Vista.pNg")

	section1
		p  Menurut Microsoft, komputer yang dapat menjalankan Windows Vista diklasifikasikan sebagai "Vista Capable" dan "Vista Premium Ready"
		ul
			li  Komputer "Vista Capable" memerlukan minimal prosesor 800 MHz, 512MB RAM, dan <br>kartu grafis dengan kelas DirectX 9. Namun klasifikasi ini tidak akan mampu untuk <br>mendukung grafis high-end Vista, termasuk antarmuka Aero
			li  Komputer "Vista Premium Ready" memerlukan setidaknya prosesor 1 GHz, 512 MB RAM, <br>dan kartu grafis yang kompatibel dengan antarmuka Aero minimal 128MB serta mendukung <br>WDDM yang baru

	setion
		p  Spesifikasi Minimum Untuk Install Windows Vista:
		img.big(src="images/klasifikasi-windows-vista.png")

	section1
		p  Windows Vista tersedia dalam 6 (enam) edisi, yakni:	
		ul
			li  Windows Vista Starter
			li  Windows Vista Home Basic
			li  Windows Vista Home Premium
			li  Windows Vista Business
			li  Windows Vista Enterprise
			li  Windows Vista Ultimate

include presentation-footer
include main-footer