- var pageTitle = 'Windows 7'

include presentation-header

include menu

article#presentation
	
	section
		h1 Windows 7

	section
		p  Windows 7 adalah versi windows terakhir yang menggunakan menu start yang menggantikan versi windows sebelumnya, Windows Vista. Windows 7 dirilis untuk pabrikan komputer pada 22 Juli 2009 dan dirilis untuk publik pada 22 Oktober 2009, kurang dari tiga tahun setelah rilis pendahulunya, Windows Vista.
		img(src="images/windows-7.png")

	section
		p  Tidak seperti pendahulunya yang memperkenalkan banyak fitur baru, Windows 7 lebih fokus pada pengembangan dasar Windows, dengan tujuan agar lebih kompatibel dengan aplikasi-aplikasi dan perangkat keras komputer yang kompatibel dengan Windows Vista. 
		p Presentasi Microsoft tentang Windows 7 pada tahun 2008 lebih fokus pada dukungan multi-touch pada layar, desain ulang taskbar yang sekarang dikenal dengan nama Superbar, sebuah sistem jaringan rumahan bernama HomeGroup, dan peningkatan performa. 
		p Beberapa aplikasi standar yang disertakan pada versi sebelumnya dari Microsoft Windows, seperti Windows Calendar, Windows Mail, Windows Movie Maker, dan Windows Photo Gallery, tidak disertakan lagi di Windows 7, kebanyakan ditawarkan oleh Microsoft secara terpisah sebagai bagian dari paket Windows Live Essentials yang gratis.

	section
		h2 Windows 7 Berdasarkan Arsitektur Processor
		p
		p  Ada 2 macam Windows 7 berdasar prosesor, yaitu 32 Bit dan 64 Bit. Untuk Windows 7 32 Bit hanya bisa menggunakan RAM maksimal sebesar 4GB, sementara untuk versi 64 Bit bisa menggunakan RAM dengan ukurang yang lebih besar.

include presentation-footer
include main-footer