- var pageTitle = 'Windows 7'

include presentation-header

include menu

article#presentation
	
	section
		h1 Windows 7

	section
		p  Windows 7 adalah versi windows terakhir yang menggunakan menu start yang menggantikan versi windows sebelumnya, Windows Vista. Windows 7 dirilis untuk pabrikan komputer pada 22 Juli 2009 dan dirilis untuk publik pada 22 Oktober 2009, kurang dari tiga tahun setelah rilis pendahulunya, Windows Vista.
		img(src="images/windows-7.png")

	section
		p  Tidak seperti pendahulunya yang memperkenalkan banyak fitur baru, Windows 7 lebih fokus pada pengembangan dasar Windows, dengan tujuan agar lebih kompatibel dengan aplikasi-aplikasi dan perangkat keras komputer yang kompatibel dengan Windows Vista. 
		p Presentasi Microsoft tentang Windows 7 pada tahun 2008 lebih fokus pada dukungan multi-touch pada layar, desain ulang taskbar yang sekarang dikenal dengan nama Superbar, sebuah sistem jaringan rumahan bernama HomeGroup, dan peningkatan performa. 
		p Beberapa aplikasi standar yang disertakan pada versi sebelumnya dari Microsoft Windows, seperti Windows Calendar, Windows Mail, Windows Movie Maker, dan Windows Photo Gallery, tidak disertakan lagi di Windows 7, kebanyakan ditawarkan oleh Microsoft secara terpisah sebagai bagian dari paket Windows Live Essentials yang gratis.

	section
		h2 Windows 7 Berdasarkan Arsitektur Processor
		p
		p  Ada 2 macam Windows 7 berdasar prosesor, yaitu 32 Bit dan 64 Bit. Untuk Windows 7 32 Bit hanya bisa menggunakan RAM maksimal sebesar 4GB, sementara untuk versi 64 Bit bisa menggunakan RAM dengan ukurang yang lebih besar.

	section1
		p  Specifications Minumum Untuk Install Windows 7 (32 bit):
		ul
			li  Processor 1 GHz
			li  RAM 1GB 
			li  HDD 16 GB                    
			li  DirectX 9 dan WDDM Driver Model 1.0
			li  DVD Drive

	section1
		p  Specifications Minumum Untuk Install Windows 7 (64 bit):
		ul
			li  Processor 1 GHz
			li  RAM 2GB 
			li  HDD 20 GB                     
			li  DirectX 9 dan WDDM Driver Model 1.0
			li  DVD Drive

	section1
		p  Windows 7 tersedia dalam 6 (enam) edisi, yakni:	
		ul
			li  Windows 7 Starter
			li  Windows 7 Home Basic
			li  Windows 7 Home Premium
			li  Windows 7 Professional
			li  Windows 7 Enterprise
			li  Windows 7 Ultimate

	section
		h2 Pembatasan memori pada Windows 7
		img(src="images/BatasMemoWin7.png")

	section2
		h2 Windows 7 Starter
		p
		ul
			li Target pemasaran: seluruh dunia, biasanya hadir dengan paket komputer baru, <br>seperti laptop dan netbook.
			li Fitur utama: Taskbar, Jump list, Windows Media Player, Backup & restore, <br>Action Center, Device Stage, Play to, Fax, Scan dan Game sederhana.
			li Keterbatasan: tidak ada aero glass, berbagai fitur modifikasi desktop, windows <br>touch, media center, live thumbnail preview, home group creation, tidak ada <br>multi bahasa, maksimal RAM 2 GB, dan tidak terseda versi 64bit.
			li Dengan Windows 7 Starter, pengguna tidak bisa mengubah wallpaper atau <br>theme windows mereka. Awalnya Windows 7 Starter dibatasi hanya bisa <br>menjalankan 3 (tiga) program satu waktu, tetapi akhirnya keterbatasan ini<br> dihilangkan, dan hanya dibatasi oleh jumlah memori komputer.

	section2
		h2 Windows 7 Home Basic
		p
		ul
			li Target pemasaran: untuk wilayah tertentu saja, seperti di Indonesia.
			li Fitur utama: multiple monitor, fast user switching (berganti user), desktop wallpaper,<br> desktop windows manager, network printing, internet connection sharing, sebagian <br>windows aero.
			li Keterbatasan: tidak bisa membuat homegroup baru, tidak disertakan DVD decoder<br> (MPEG-2 dan Dolby Digital), tanpa multi touch, premium games, Windows Media<br> Center, tidak ada multi bahasa, dukungan windows aero tidak penuh.
	
	section2
		h2 Windows 7 Home Premium
		p
		ul
			li Target pemasaran: global
			li Fitur utama: Aero Glass, Aero Background, Windows Touch, Membuat Home group<br> baru, Media Center, DVD Playback dan pembuatannya, premium games dan Mobility<br> Center.
			li Keterbatasan: Domain join, Remote desktop host, backup dari jaringan, Encryption File<br> System, Offline Folder.
	
	section2
		h2 Windows 7 Professional
		p
		ul
			li Target pemasaran: pengguna IT menengah keatas.
			li Fitur utama: Windows XP Mode, Domain Join, Remote desktop host, location aware <br>printing, mobility center, presentation mode, offline folder.
			li Keterbatasan: BitLocker, BitLocker toGo, AppLocker, Direct Access, Branche Cache, <br>MUI Language Pack, booting dari VHD.
			li Windows 7 Professional menawarkan semua fitur edisi dibawahnya. Juga mulai ada <br>fitur Windows XP Mode yang tidak disediakan di edisi dibawahnya.
	
	section2
		h2 Windows 7 Enterprise
		p
		ul
			li Target pemasaran: pelanggan bisnis (volume-licenses).
			li Fitur utama: BitLocker, BitLocker To Go, AppLocker, Direct Access, Branche Cache,<br> MUI language packs, boot from VHD.
			li Keterbatasan: Lisensi retail.
			li Selain perbedaan lisensi, Windows 7 Enterprise mempunyai fitur yang sama dengan <br>Windows 7 

	
	section2
		h2 Windows 7 Ultimate	
		p
		ul
			li Target pemasaran: retail market, ketersediaan terbatas.
			li Fitur utama: semua fitur Windows 7 edisi sebelumnya ditambah dengan BitLocker, <br>BitLocker To Go, AppLocker, Direct Access, Branche Cache, MUI language packs,<br> Enterprise Search Scopes, boot from VHD dan Virtual Desktop Infrastructure (VDI)<br> enhancements.
			li Keterbatasan: Volume Licensing.

include presentation-footer
include main-footer