- var pageTitle = 'Windows 8'

include presentation-header

include menu

article#presentation
	section
		h1 Windows 8
		
	section
		p Windows 8 adalah nama dari versi terbaru Microsoft Windows, serangkaian sistem operasi yang diproduksi oleh Microsoft untuk digunakan pada komputer pribadi, termasuk komputer rumah dan bisnis, laptop, netbook, tablet PC, server, dan PC pusat media.
		p Sistem operasi ini menggunakan mikroprosesor ARM selain mikroprosesor x86 tradisional buatan Intel dan AMD. Antarmuka penggunanya diubah agar mampu digunakan pada peralatan layar sentuh selain mouse dan keyboard, sehingga Windows 8 di desain untuk perangkat tablet sentuh.
		
	section
		p Microsoft secara resmi merilis Windows 8 pada 26 Oktober 2012 bersamaan dengan peluncuran komputer perdana yang menggunakan Windows 8. Versi percobaan Windows 8 berupa Consumer Preview dan Release Preview. Pada 26 Juni 2013, Microsoft merilis versi Uji Coba dari Windows 8.1 (sebelumnya dikenal sebagai Windows Blue), sebuah peningkatan untuk Windows 8, Windows 7, Windows Vista, dan Windows XP. Pada 18 Oktober 2013, Microsoft merilis Windows 8.1 sebagai pembaruan gratis untuk Windows 8.
		
	section
		h2 Sejarah pengembangan
		hr
		p Pengembangan Windows 8 sudah dimulai sebelum Windows 7 diluncurkan tahun 2009. Pada akhir Januari 2011, di Consumer Electronics Show (CES), Microsoft mengumumkan bahwa Windows 8 akan mendukung mikroprosesor ARM selain mikroprosesor x86 dari Intel, AMD dan VIA Technologies. 
		p Tanggal 1 Juni 2011, Microsoft secara resmi meluncurkan antarmuka pengguna baru Windows 8 dan fitur-fitur tambahan lain di Taipei Computex 2011 di Taipei (Taiwan) yang dipresentasikan oleh Mike Angiulo dan di D9 conference in California (United States) by Julie Larson-Green and Microsoft's Windows President Steven Sinofsky.
		
	section
		p Blog "Building Windows 8" yang diluncurkan tanggal 15 Agustus 2011 memaparkan rincian fitur dan proses pengembangan Windows 8. Microsoft mengungkap sejumlah fitur baru dan pembaruan terhadap Windows 8 pada hari pertama konferensi Build tanggal 13 September 2011. Microsoft merilis Windows 8 Developer Preview (build 8102) pada hari itu juga yang dilengkapi SDK dan peralatan pengembang (seperti Visual Studio Express dan Expression Blend) untuk mengembangkan dengan antarmuka baru Windows 8. 
		p Menurut Microsoft, Developer Preview diunduh 535.000 kali dalam kurun 12 jam pertama setelah diluncurkan. Awalnya ditetapkan kedaluwarsa tanggal 11 Maret 2012, pada Februari 2012 tanggal kedaluwarsa Developer Preview diundur hingga 15 Januari 2013. Tiga peluncuran utama Windows 8 bocor ke publik. Milestone 1, Build 7850, bocor tanggal 12 April 2011. Edisi salinan yang bocor tersebut adalah versi Enterprise. 
		
	section
		p Milestone 2, Build 7955, bocor tanggal 25 April 2011. BSOD (Blue Screen of Death) lamanya digantikan oleh layar hitam baru yang kemudian tidak jadi disertakan. Build ini memperkenalkan UI Ribbon baru di Windows Explorer. Build 7959, dengan perubahan kecil tetapi merupakan versi 64-bit pertama, diluncurkan tanggal 1 Mei 2011. Logo "Windows 7" sementara diganti dengan teks "Microsoft Confidential". Tanggal 17 Juni 2011, build 7989 edisi 64-bit bocor. Tanggal 13 September 2011, build 8102 (Windows 8 Developer Preview) dirilis ke publik di Konferensi Build Microsoft. Build ini terbuka penuh untuk pertama kalinya dan dilengkapi Start Screen baru, antarmuka pengguna Metro dan sejumlah sampel aplikasi buatan para karyawan magang di Microsoft. 
		
	section
		p Windows Store tidak beroperasi di build ini. Build ini ditujukan pada pengembang yang ingin membuat aplikasi bergaya Metro. Pada tanggal 29 Februari 2012, Microsoft meluncurkan Windows 8 Consumer Preview, versi beta dari Windows 8, build 8250. Untuk pertama kalinya sejak Windows 95, tombol Start tidak lagi muncul di taskbar, meski layar Start-nya masih harus dibuka dengan mengklik sudut kiri bawah layar dan tombol Start di kotak Charm. 
		p Presiden Windows, Steven Sinofsky, mengatakan bahwa lebih dari 100.000 perubahan dilakukan sejak Developer Preview diluncurkan. Sehari setelah diluncurkan, Windows 8 Consumer Preview diunduh lebih dari satu juta kali. Seperti Developer Preview, Consumer Preview dijadwalkan kedaluwarsa tanggal 15 Januari 2013. Beberapa build lain juga diluncurkan sampai konferensi Japan's Developers Day, ketika Steven Sinofsky mengumumkan bahwa Windows 8 Release Preview (build 8400) akan diluncurkan pada minggu pertama bulan Juni. 
		
	section
		p Tanggal 28 Mei 2012, Windows 8 Release Preview (edisi Standard Simplified Chinese x64, bukan versi spesifik Cina, build 8400) bocor di sejumlah situs web Cina dan BitTorrent. Tanggal 31 Mei 2012, Windows 8 Release Preview diluncurkan ke publik oleh Microsoft. Sejumlah fitur utama yang dimasukkan di Release Preview adalah aplikasi Sports, Travel, dan News, plus versi Flash Player yang terintegrasi dengan Internet Explorer. Seperti Developer Preview dan Consumer Preview, the Release Preview dijadwalkan kedaluwarsa tanggal 15 Januari 2013. Pada tanggal 1 Agustus 2012, Windows 8 (build 9200) dirilis dengan nomor build 6.2.9200.16384. Microsoft berencana mengadakan acara peluncuran pada 25 Oktober 2012 dan meluncurkan Windows 8 untuk publik keesokan harinya. Akan tetapi, sehari setelah RTM, salinan versi akhir Windows 8 Enterprise N (untuk pasar Eropa) bocor di Internet, dan beberapa hari kemudian baik versi IA-32 dan x64 Pro dan Enterprise sama-sama bocor. 
	
	section
		p Tanggal 15 Agustus 2012, Windows 8 dapat diunduh untuk pelanggan MSDN dan TechNet. Windows 8 tersedia untuk pelanggan Software Assurance pada tanggal 16 Agustus 2012. Windows 8 tersedia untuk pelajar yang berlangganan DreamSpark Premium pada tanggal 22 Agustus 2012, lebih cepat daripada pengumumannya. Microsoft memulai kampanye iklan Windows 8 dan tablet Surface-nya pada Oktober 2012 dengan iklan televisi pertamanya ditayangkan tanggal 14 Oktober 2012. Anggaran iklan Microsoft untuk sistem operasi ini sebesar US$1,5–1,8 miliar, menjadikan peluncuran Windows 8 menjadi yang terbesar sepanjang sejarah Microsoft. 
		
	section
		p Pada tanggal 26 Juni 2013, Microsoft memperkenalkan Windows 8.1 Preview (build 9341) untuk dicoba oleh pengguna pada konferensi //Build/ 2013. Windows 8.1 dijadikan sebagai peningkatan untuk Window 8, dan akan selesai sekitar akhir 2013. Di Windows 8.1, Microsoft menambahkan kemampuan untuk bisa berjalan di tablet 7 inci. Microsoft merilis versi RTM-nya pada tanggal 27 Agustus 2013 dan ketersediaan umumnya dijadwalkan pada tanggal 17 Oktober 2013. Windows 8.1 tersedia di pasaran dan di perangkat baru sejak 18 Oktober 2013.
	
	section1
		h2 Fitur baru di Windows 8
		hr
		ul
			li Desain aplikasi Windows 8 UI, yang bisa dibuat dari bahasa pemograman apa saja, seperti : HTML/CSS, JavaScript, C, C++, C#, dll.
			li Hilangnya tombol Mulai (digantikan oleh Layar Mulai dan Charms).
			li Kompatibel dengan arsitektur Intel, AMD, dan ARM (khususnya tablet).
			li Kompatibel dengan perangkat berspesifikasi rendah seperti Tablet, Laptop, Netbook, bahkan Smartphone
			li Portabel di USB (Windows To Go).
			li Windows Explorer menggunakan ribbon seperti Office 2010 & 2007, juga berganti nama menjadi 'File Explorer.
			li Hybrid Boot, fitur untuk mempercepat waktu start-up dengan menyimpan memori inti Windows ke dalam hard disk dan me-load-nya tiap booting.
	
	section1
		h2 Fitur baru di Windows 8
		hr
		ul
			li Fitur pengembalian (recovery) baru, Refresh dan Reset. Refresh akan mengembalikan semua file Windows ke kondisi awal tanpa mengubah pengaturan, berkas, atau aplikasi Windows 8 UI. Reset akan mengembalikan komputer ke kondisi standar pabrikan.
			li Rancangan baru dari Windows Task Manager.
			li Proses aktivasi yang mudah.
			li Diperkenalkannya Layar Kunci (Lock Screen).
			li Bursa Windows, sebagai tempat membeli atau menginstal aplikasi Windows 8 UI.
			li Aplikasi Media Penyimpanan Awan baru yang disebut Skydrive.
			li Antivirus yang sudah terintegrasi dengan Windows Defender.
			li Pilihan Jenis Log-In yang beragam, yaitu sandi akun Microsoft/lokal, Sandi gambar, dan PIN.
			
	section1
		h2 Fitur baru di Windows 8.1
		hr
		ul
			li Aplikasi standar baru: Calculator (Modern UI), Alarm, Sound Recorder, Reading List, Food & Drink, Help & Tips, Skype (Modern UI), dan sebuah File Manager berbasis Modern UI (menyatu bersama aplikasi SkyDrive Modern UI).
			li Kembalinya Tombol Mulai dan Hilangnya aplikasi Messaging (Digantikan aplikasi Skype Modern UI).
			li Terintegrasi dengan Internet Explorer 11.
			li PC Settings, merangkum pengaturan-pengaturan Control Panel (berbasis Modern UI).
			li Windows PowerShell v4.0: sejumlah perintah baru untuk mengelola Start Screen, Windows Defender, dll.
			li Bursa Windows 2.0: Tampilan Baru dan lebih fleksibel, memperbarui aplikasi secara otomatis.
			li Boot ke desktop: Windows 8.1 bisa booting langsung ke desktop tanpa harus ke Layar Mulai.
	
	section1
		h2 Fitur baru di Windows 8.1
		hr
		ul
			li Latar Layar Mulai: Warna dan Pola latar belakang di Layar Mulai Windows 8 bisa diatur sesuka hati, bahkan bisa disamakan dengan desktop.
			li Bing Smart Search: Di Windows 8, kita hanya bisa mencari aplikasi, pengaturan, dan files. Di Windows 8.1, selain mencari aplikasi, pengaturan, dan files, kita juga bisa mencari orang-orang terkenal, artis, kota, atau apa saja; karena pencarian Windows 8.1 sudah terintegrasi dengan internet lewat Bing.
			li Multitugas fleksibel: Di Windows 8, kita hanya bisa menjalankan 2 aplikasi secara bersamaan. Di Windows 8.1, kita bisa menjalankan 3 atau 4 aplikasi secara bersamaan, tergantung ukuran layar.
			li Layar Mulai fleksibel: Kustomisasi lebih fleksibel, menggrup, ,menempel, melepas, dan mengubah ukuran ubin aplikasi menjadi lebih mudah.
			li Tampilan Baru File Explorer: Pustaka (Library) disembunyikan secara default (namun menjadi satu dibawah This PC) dan Computer berubah nama menjadi This PC.
			
	section1
		h2 Edisi Windows 8
		hr
		ul
			li Windows 8, setara dengan Windows 7 Starter, Home Basic, dan Home Premium.
			li Windows 8 Pro, setara dengan Windows 7 Professional.
			li Windows 8 Enterprise, setara dengan Windows 7 Enterprise dan Ultimate.
			li Windows RT, versi Windows khusus untuk perangkat berprosesor ARM.
			li Windows 8 tersedia dalam empat edisi : satu bernama hanya Windows 8, ditujukan untuk konsumen mainstream.
			li Windows 8 Pro berisi fitur tambahan ditujukan untuk pengguna ahli dan lingkungan profesional.
			li Windows 8 Enterprise mengandung fitur tambahan ditujukan terhadap lingkungan bisnis , dan hanya tersedia melalui pelisensian volume.
				
	section1
		h2 Edisi Windows 8
		hr
		ul
			li Windows RT hanya tersedia yang sudah terinstall secara pabrikan pada perangkat baru berbasis ARM dan dibangun khusus untuk OS .
			li Windows Media Center tidak disertakan secara default dalam setiap edisi Windows 8 , tetapi tersedia untuk dibeli sebagai add -on untuk Windows 8 Pro , atau sebagai bagian dari " Pro Pack " upgrade untuk versi dasar Windows 8 yang juga termasuk Pro upgrade.
			li Windows Media Center add -on yang ditawarkan secara gratis sampai dengan 31 Januari 2013.
			li Pengguna versi Windows sebelumnya dapat membeli upgrade ke Windows 8 Pro secara online ( dengan mendownload yang dapat secara optional dibuat menjadi DVD atau USB media instalasi ) , atau melalui salinan kotak eceran di DVD . 
			li Microsoft menawarkan Windows 8 Pro upgrade dengan harga diskon dari US $ 39,99 online, atau $ 69,99 untuk kotak ritel DVD dari peluncurannya sampai dengan 31 Januari 2013; setelah Windows 8 harga telah $ 119,99 dan harga Pro $ 199,99 . 
			
	section
		p The "Full " dan " OEM " SKU Windows ( yang dapat diinstal pada komputer tanpa sistem operasi yang ada ) pada awalnya digantikan oleh khusus " Pembangun Sistem " SKU , dimaksudkan untuk digunakan oleh produsen peralatan asli dan pada komputer homebuilt. Selain dari versi "System Builder " , semua salinan ritel Windows 8 hanya bisa digunakan untuk upgrade .Setelah dirilis , salinan ritel yang baru, dibuat tersedia satu paket dengan update 8,1 Windows. Salinan ritel Windows 8.1 adalah "Full " lisensi bukan hanya izin mengupgrade , yang mana Microsoft mengatakan akan menawarkan lebih banyak kemudahan bagi konsumen. Harga untuk ini salinan baru tetap sama. Microsoft juga menawarkan program upgrade bagi mereka yang membeli PC baru pre-loaded dengan Windows 7 Home Basic , Home Premium , Professional , atau Ultimate antara 2 Juni 2012 dan 31 Januari 2013 - di mana pengguna digital bisa membeli Windows 8 Pro upgrade dengan membayar US $ 14,99 . Beberapa produsen PC telah menawarkan potongan harga dan pengembalian uang pada Windows 8 upgrade yang diperoleh melalui program pada model pilih , seperti Hewlett - Packard ( di AS dan Kanada pada jenis tertentu ) , dan Acer ( di Eropa jenis Ultrabook tertentu ) .
			
	section
		img.big(src="images/Windows 8 (1).jpeg")
	section
		img.big(src="images/Windows 8 (2).jpeg")
	section
		img.big(src="images/Windows 8.jpeg")


	
include presentation-footer
include main-footer