- var pageTitle = 'Time Machine'

include presentation-header

include menu

article#presentation
	section
		h1 Windows 8
		
	section
		p Windows 8 adalah nama dari versi terbaru Microsoft Windows, serangkaian sistem operasi yang diproduksi oleh Microsoft untuk digunakan pada komputer pribadi, termasuk komputer rumah dan bisnis, laptop, netbook, tablet PC, server, dan PC pusat media.
		p Sistem operasi ini menggunakan mikroprosesor ARM selain mikroprosesor x86 tradisional buatan Intel dan AMD. 
		p Antarmuka penggunanya diubah agar mampu digunakan pada peralatan layar sentuh selain mouse dan keyboard, sehingga Windows 8 di desain untuk perangkat tablet sentuh.
		
	section
		p Microsoft secara resmi merilis Windows 8 pada 26 Oktober 2012 bersamaan dengan peluncuran komputer perdana yang menggunakan Windows 8.
		p Versi percobaan Windows 8 berupa Consumer Preview dan Release Preview. 
		p Pada 26 Juni 2013, Microsoft merilis versi Uji Coba dari Windows 8.1 (sebelumnya dikenal sebagai Windows Blue), sebuah peningkatan untuk Windows 8, Windows 7, Windows Vista, dan Windows XP. 
		p Pada 18 Oktober 2013, Microsoft merilis Windows 8.1 sebagai pembaruan gratis untuk Windows 8.
		
	section
		h2 Sejarah pengembangan
		p Pengembangan Windows 8 sudah dimulai sebelum Windows 7 diluncurkan tahun 2009. 
		p Pada akhir Januari 2011, di Consumer Electronics Show (CES), Microsoft mengumumkan bahwa Windows 8 akan mendukung mikroprosesor ARM selain mikroprosesor x86 dari Intel, AMD dan VIA Technologies. 
		p Tanggal 1 Juni 2011, Microsoft secara resmi meluncurkan antarmuka pengguna baru Windows 8 dan fitur-fitur tambahan lain di Taipei Computex 2011 di Taipei (Taiwan) yang dipresentasikan oleh Mike Angiulo dan di D9 conference in California (United States) by Julie Larson-Green and Microsoft's Windows President Steven Sinofsky.
		
	section
		p Blog "Building Windows 8" yang diluncurkan tanggal 15 Agustus 2011 memaparkan rincian fitur dan proses pengembangan Windows 8.
		p Microsoft mengungkap sejumlah fitur baru dan pembaruan terhadap Windows 8 pada hari pertama konferensi Build tanggal 13 September 2011. 
		p Microsoft merilis Windows 8 Developer Preview (build 8102) pada hari itu juga yang dilengkapi SDK dan peralatan pengembang (seperti Visual Studio Express dan Expression Blend) untuk mengembangkan dengan antarmuka baru Windows 8. 
	
	section
		p Menurut Microsoft, Developer Preview diunduh 535.000 kali dalam kurun 12 jam pertama setelah diluncurkan. 
		p Awalnya ditetapkan kedaluwarsa tanggal 11 Maret 2012, pada Februari 2012 tanggal kedaluwarsa Developer Preview diundur hingga 15 Januari 2013.
		p Tiga peluncuran utama Windows 8 bocor ke publik. 
		p Milestone 1, Build 7850, bocor tanggal 12 April 2011. 
		p Edisi salinan yang bocor tersebut adalah versi Enterprise. 
	
include presentation-footer
include main-footer