- var pageTitle = 'Remote (Push dan Pull)'

include presentation-header

include menu

article#presentation
	section
		h1 Windows 10
		
	section
		p Windows 10 merupakan versi mendatang dari sistem operasi Microsoft Windows.
		p Diperkenalkan pada tanggal 30 September 2014, dijadwalkan akan dirilis pada 29 Juli 2015. 
		p Pertama diperkenalkan pada bulan April 2014 pada Konferensi Build, Windows 10 bertujuan untuk mengatasi kekurangan dalam antarmuka pengguna pertama kali diperkenalkan oleh Windows 8 dengan menambahkan mekanik tambahan yang dirancang untuk meningkatkan pengalaman pengguna untuk perangkat yang tidak ada layar sentuh (seperti komputer meja dan laptop), termasuk kebangkitan menu Mulai yang terlihat di Windows 7, sistem desktop maya, dan kemampuan untuk menjalankan aplikasi Bursa Windows dalam jendela pada desktop daripada modus layar penuh.
	
include presentation-footer
include main-footer
