- var pageTitle = 'Remote (Push dan Pull)'

include presentation-header

include menu

article#presentation
	section
		h1 Windows 10
		
	section
		p Windows 10 merupakan versi mendatang dari sistem operasi Microsoft Windows.
		p Diperkenalkan pada tanggal 30 September 2014, dijadwalkan akan dirilis pada 29 Juli 2015. 
		p Pertama diperkenalkan pada bulan April 2014 pada Konferensi Build, Windows 10 bertujuan untuk mengatasi kekurangan dalam antarmuka pengguna pertama kali diperkenalkan oleh Windows 8 dengan menambahkan mekanik tambahan yang dirancang untuk meningkatkan pengalaman pengguna untuk perangkat yang tidak ada layar sentuh (seperti komputer meja dan laptop), termasuk kebangkitan menu Mulai yang terlihat di Windows 7, sistem desktop maya, dan kemampuan untuk menjalankan aplikasi Bursa Windows dalam jendela pada desktop daripada modus layar penuh.
		
	section 
		h2 Pengembangan
		p Pada bulan April 2014, pada Konferensi Build, Terry Myerson dari Microsoft meluncurkan versi terbaru dari Windows yang menambahkan kemampuan untuk menjalankan aplikasi Bursa Windows di dalam jendela desktop, dan menu Mulai yang lebih tradisional. 
		p Menu Mulai baru yang terbentuk setelah desain Windows 7 dengan menggunakan hanya sebagian dari layar dan termasuk daftar aplikasi bergaya Windows 7 di kolom pertama.
		p Kolom kedua menampilkan Metro UI aplikasi bergaya Windows 8. 
		p Myerson menyatakan bahwa perubahan ini akan terjadi dalam pembaruan masa depan, tetapi tidak menjelaskan lebih lanjut. 
		p Microsoft juga meluncurkan konsep "aplikasi Windows universal", memungkinkan aplikasi Windows Runtime dapat diporting ke Windows Phone 8.1 dan Xbox One sementara berbagi basis kode yang sama, dan memungkinkan data pengguna dan lisensi untuk sebuah aplikasi yang akan dibagi antara beberapa platform. 
		
	section
		p Hal itu kemudian melaporkan bahwa Microsoft sedang mengerjakan pembaruan untuk Windows 8 dengan nama kode Threshold, dan itu berspekulasi Threshold yang akan dicap sebagai "Windows 9", "Windows X", atau "Windows One" (mengacu pada beberapa produk Microsoft baru-baru ini dengan merek yang sama, seperti Xbox One dan OneDrive) pada rilis publik. 
		p Demikian pula untuk "Blue" (yang menghasilkan Windows 8.1), Threshold juga menjadi kumpulan pemutakhiran yang dikoordinasikan di beberapa produk dan layanan Microsoft. 
		p Pada bulan Juli 2014, CEO baru Microsoft Satya Nadella menjelaskan bahwa perusahaan berencana untuk "merampingkan versi berikutnya dari Windows dari tiga sistem operasi ke dalam satu sistem operasi konvergensi tunggal untuk layar dari semua ukuran", menyatukan Windows, Windows Phone, dan Windows Embedded sekitar arsitektur yang umum dan ekosistem aplikasi terpadu. 
		p Namun, Nadella menyatakan bahwa perubahan-perubahan internal yang tidak akan memiliki efek pada bagaimana sistem operasi yang dipasarkan dan dijual. 
		p Tangkapan layar dari build Windows yang diakui menjadi Threshold yang bocor pada bulan Juli 2014, mengungkapkan menu Mulai disajikan sebelumnya dan aplikasi berjendela, bersama dengan sistem desktop maya baru, pusat pemberitahuan, dan, ikon sistem datar yang baru yang terinspirasi oleh bahasa desain Metro (menggantikan ikon sistem yang pertama kali diperkenalkan pada Windows Vista).
		
	section 
		p Pada bulan September 2014, Presiden Microsoft Indonesia Andreas Diantoro menyatakan bahwa Threshold akan tersedia secara gratis untuk semua pengguna Windows 8. 
		p Threshold secara resmi diperkenalkan selama acara media pada tanggal 30 September 2014 dengan nama Windows 10; Myerson disebut-sebut bahwa Windows 10 akan menjadi "platform yang paling komprehensif yang pernah ada" Microsoft, menyediakan tunggal, platform yang bersatu untuk komputer meja, laptop, tablet, telepon cerdas, dan perangkat all-in-one. 
		p Dia menekankan bahwa Windows 10 akan mengambil langkah-langkah menuju pemulihan mekanik antarmuka pengguna dari Windows 7 dalam rangka untuk meningkatkan pengalaman bagi pengguna pada perangkat non-sentuh, mencatat kritik antarmuka sentuh berorientasi Windows 8 dengan papan tombol dan tetikus pengguna, dan sebaliknya.
		p Meskipun konsesi ini, Myerson mencatat bahwa antarmuka sentuh berorientasi akan "berkembang" juga pada Windows 10. 
		p Dalam menggambarkan perubahan, Myerson menyamakan dua sistem operasi untuk mobil listrik, membandingkan Windows 7 untuk generasi pertama dari Toyota Prius hibrida, dan Windows 10 sampai semua-listrik Tesla—mengingat kedua untuk menjadi perpanjangan dari teknologi pertama kali diperkenalkan pada pendahulunya. 
		p Dalam hal penamaan sistem operasi, Myerson menolak untuk menguraikan mengapa Microsoft melewatkan langsung ke Windows 10 dari 8 bukannya penomoran angka 9, hanya menyatakan bahwa "berdasarkan produk yang datang, dan betapa berbedanya pendekatan kami akan keseluruhan, itu akan tidak benar". 
		
	section
		p Ia juga bercanda bahwa mereka tidak bisa menyebutnya "Windows One" karena mereka sudah membuat Windows 1. 
		p Namun, kritikus juga berteori—berbasis pada posting oleh pengguna Reddit mengklaim bekerja untuk Microsoft—bahwa keputusan untuk melewati 9 adalah untuk mencegah masalah dengan aplikasi yang lebih tua yang mungkin telah dikodekan untuk mendeteksi Windows 95 dan 98 dengan memeriksa string "Windows 9". 
		p Teori ini didukung oleh penemuan kode pada repositori publik menunjukkan perilaku ini. 
		
	section
		h2 Rilis
		p Windows 10 diharapkan akan dirilis pada tahun 2015. 
		p Microsoft belum merilis rincian tentang bagaimana Windows 10 akan didistribusikan, atau apakah Windows 10 akan diperlakukan sebagai pembaruan gratis seperti Windows 8.1, atau peningkatan yang dibayar. 
		p Merilis Windows 10 sebagai pembaruan gratis akan menempatkan Microsoft lebih dekat sesuai dengan praktik pembaruan dari sistem operasi telepon genggam, bersama dengan OS X, yang, dimulai pada versi 10.9, juga mulai mendistribusikan pembaruan sistem operasi masa depan secara gratis. 
		p Sejak Windows 8 dirilis, Microsoft mulai kembali menyelaraskan model bisnis konsumen untuk Windows sekitar membangun basis pengguna untuk layanan daring dan bursa aplikasi, bukan penjualan sistem operasi lisensi: awal tahun, Microsoft mulai menawarkan lisensi OEM gratis untuk Windows 8 pada perangkat dengan layar di bawah 9 inci di ukuran. 
		p Sebelum pembukaan, Presiden Microsoft Indonesia Andreas Diantoro mengklaim bahwa sistem operasi akan pembaruan gratis untuk pengguna Windows 8 yang ada. 
		
	section
		h2 Komponen sistem
		p Windows 10 akan memakai versi terbaru dari DirectX, yaitu DirectX 12; diperkenalkan pada awal tahun di acara GDC, bertujuan untuk menyediakan "konsol-tingkat efisiensi" dengan "mendekati logam" akses ke sumber daya perangkat keras, dan mengurangi CPU dan pemacu grafis overhead. 
		p Jendela konsol seperti Command Prompt sekarang menyediakan satu set baru "pilihan eksperimental" yang memodernisasi fungsionalitasnya; di antaranya termasuk pemotongan teks di output konsol, kemampuan untuk secara native memilih string teks menggunakan tetikus seperti pada program lain (tidak seperti alat "Tandai" yang sebelumnya diperlukan untuk melakukannya, yang tidak benar memperhitungkan jeda baris dan spasi di output), dan kemampuan untuk menggunakan tombol Control pintasan papan tombol tradisional di konsol, seperti menempelkan teks menggunakan Ctrl+V. 
		p Windows 10 akan dilayani dengan cara yang berbeda untuk rilis sebelumnya dari Windows.
		p Sementara Microsoft mulai mendistribusikan sejumlah besar pembaruan untuk Windows 8 yang ditambahkan fitur (seperti perbaikan antarmuka) melampaui patch keamanan dan perbaikan bug, Windows 10 akan mengadopsi pendekatan rilis-cepat berjenjang. 
		p Secara default, Windows 10 akan menerima pembaruan kritis dan patch keamanan seperti mereka dilepaskan, tapi sistem administrator dan pengguna akan memiliki kemampuan untuk menunda penggunaan non-kritis pembaruan otomatis atau menonaktifkan mereka sepenuhnya. 
		
	section
		p Sistem akan memungkinkan komputer utama untuk sering menerima perbaikan sistem operasi, sementara lingkungan perusahaan akan mampu keluar dari mereka untuk memastikan lingkungan yang stabil dan dikendalikan. 
		p Stella Chernyak mencatat dalam hal ini perubahan itu "kami memiliki bisnis [yang] mungkin memiliki misi-kritis lingkungan dimana kami menghormati fakta mereka ingin menguji dan menstabilkan lingkungan untuk waktu yang lama." 
		
	section
		section
		img.big(src="images/Windows 10.jpeg")
	section
		img.big(src="images/Windows 10 (1).jpeg")
	section
		img.big(src="images/Windows 10 (2).jpeg")

	
include presentation-footer
include main-footer
