- var pageTitle = 'Pengenalan TKPPL'

include presentation-header

include menu

article#presentation

	section
		h2 Windows 1.0
	section
		ul
			li Microsoft Windows 1.0 merupakan versi pertama sistem operasi dalam dunia sistem operasi berbasis Graphical User Interface (GUI) yang dibuat oleh Microsoft Corporation . 
			li Versi ini sebenarnya diluncurkan pertama kali pada tanggal 10 November 1983, tapi tidak pernah keluar ke pasar publik sebelum bulan November 1985, karena banyaknya hambatan yang terjadi ketika pengembangan berlangsung.
			li Windows 1.x bukanlah merupakan sebuah paket sistem operasi GUI—seperti halnya Apple dengan Lisa dan Macintosh-nya, tetapi hanya merupakan paket GUI tambahan yang berjalan di atas DOS, karena itulah, nama kode yang digunakannya adalah Interface Manager.
	section
	ul
			li Windows 1.x menggunakan tampilan bitmap (device independent bitmap atau disingkat DIB) dan menambahkan tetikus sebagai satu lagi perangkat yang dapat digunakan untuk mengoperasikan Windows.
			li Windows 1.x juga mendukung multitasking antar banyak program. 
			li Hal ini tentu saja merupakan peningkatan yang sangat penting jika dibandingkan dengan DOS, yang hanya dapat menjalankan satu program saja (single-tasking) pada satu waktu.
include presentation-footer
include main-footer