- var pageTitle = 'Pengenalan TKPPL'

include presentation-header

include menu

article#presentation

	section
		h1 Windows 1.0
	section
		ul
			li Microsoft Windows 1.0 merupakan versi pertama sistem operasi dalam dunia sistem operasi berbasis Graphical User Interface (GUI) yang dibuat oleh Microsoft Corporation . 
			li Versi ini sebenarnya diluncurkan pertama kali pada tanggal 10 November 1983, tapi tidak pernah keluar ke pasar publik sebelum bulan November 1985, karena banyaknya hambatan yang terjadi ketika pengembangan berlangsung.
			li Windows 1.x bukanlah merupakan sebuah paket sistem operasi GUI—seperti halnya Apple dengan Lisa dan Macintosh-nya, tetapi hanya merupakan paket GUI tambahan yang berjalan di atas DOS, karena itulah, nama kode yang digunakannya adalah Interface Manager.
	section
		ul
			li Windows 1.x menggunakan tampilan bitmap (device independent bitmap atau disingkat DIB) dan menambahkan tetikus sebagai satu lagi perangkat yang dapat digunakan untuk mengoperasikan Windows.
			li Windows 1.x juga mendukung multitasking antar banyak program. 
			li Hal ini tentu saja merupakan peningkatan yang sangat penting jika dibandingkan dengan DOS, yang hanya dapat menjalankan satu program saja (single-tasking) pada satu waktu.

	section
		ul
			li Karena Windows 1.0 merupakan masih berbasiskan DOS, hanya satu aplikasi saja yang boleh berjalan di muka (foreground application), sedangkan aplikasi yang berjalan di latar belakang (background application) diberhentikan secara sementara hingga pengguna mengaktifkannya kembali.
			li Metode ini disebut juga dengan cooperative multitasking.
			li Pada versi pertama ini, Microsoft mengintegrasikan banyak program tambahan, seperti Microsoft Paintbrush, Write, Notepad, Calendar, Calculator, CardFile, dan juga Clipboard.
	section
		ul
			li Game yang disediakan pun hanya satu: Reversi. 
			li Sebagai shell untuk mengatur berkas, digunakanlah MS-DOS Executive. 
	section
		ul
			li Fungsinya sama saja dengan kebanyakan shell yang beredar di pasaran seperti Norton Commander atau DOS Shell, tapi MS-DOS Executive berjalan di atas Windows, sementara kedua shell tersebut berjalan di atas DOS.
			li Windows versi 1.x juga mendukung MS-DOS prompt langsung dari Windows, sehingga pengguna tidak perlu keluar ke DOS terlebih dahulu untuk menjalankan program DOS. 
	section
		img.big(src="images/windows 1.jpeg")
	section
		img.big(src="images/Windows 1 (1).jpeg")
	section
		img.big(src="images/Windows 1 (2).jpeg")
		
include presentation-footer
include main-footer