- var pageTitle = 'Windows 2.0'

include presentation-header

include menu

article#presentation

	section
		h1 Windows 2.0

	section
		p Microsoft Windows 2.0 merupakan versi kedua dari sistem operasi berbasis graphical user interface (GUI) buatan Microsoft Corporation, yang dirilis pada 9 Desember 1987 akibat kurang suksesnya Windows versi 1.0. Sebab Windows 1.0 kurang sukses adalah karena kurangnya aplikasi yang mendukung Windows 1.x.
		img.big(src="images/windows2.png")

	section
		p Windows 2.x mendukung penggunaan kartu grafis dengan spesifikasi VGA(Video Graphics Array), sehingga dapat menampilkan resolusi hingga 640x480 pada kedalaman warna 4-bit (16 warna). Selain itu, Windows 2.x juga mendukung penggunaan prosesor Intel 80286, prosesor pertama dengan kemampuan untuk memproteksi area memori atau dikenal denganprotected mode meski tidak dapat melakukan switching kembali ke dalamreal mode tanpa harus melakukan restart komputer. Pengguna dapat menjalankan program loader Windows yaitu berkas WIN.COM dengan tambahan switch /S untuk mode standar, dan /2 untuk mode 286.

	section
		p Ketika Intel telah meluncurkan prosesor Intel 80386 yang memiliki kemampuan protected mode dan juga dapat kembali ke dalam real mode, Microsoft pun meluncurkan Windows 2.03 for Intel 386 untuk mendukungnya. Versi Windows 2.03/386 dapat menjalankan banyak program DOS dalam MS-DOS Prompt yang dimilikinya. Karena fitur-fitur ini, banyak pengembang di luar Microsoft mengembangkan software yang mendukung Windows 2.x, seperti Corel Draw dan Adobe PageMaker. Microsoft pun mengeluarkan Microsoft Excel for Windows dan Microsoft Word for Windows .

	section
		h2 Perkembangan window 2.0
		hr
		p Selanjutnya, dua versi yang baru dirilis, yakni Windows/286 2.1 dan Windows/386 2.1. Seperti halnya versi Windows sebelumnya, Windows/286 menggunakan model memori modus real, tapi merupakan versi yang pertama yang mendukungHigh Memory Area (HMA). Windows/386 2.1 bahkan memiliki kernel yang berjalan dalam modus terproteksi dengan emulasiExpanded Memory Specification (EMS) standar Lotus-Intel-Microsoft (LIM), pendahulu spesifikasi Extended Memory Specification (XMS) yang kemudian pada akhirnya mengubah topologi komputasi di dalam IBM PC. Semua aplikasi Windows dan berbasis DOS saat itu memang berjalan dalam modus real, yang berjalan di atas kernel modus terproteksi dengan menggunakan modus Virtual 8086, yang merupakan fitur baru yang dimiliki oleh Intel 80386.

	section
		p Versi 2.03 dan kemudian versi 3.0 mendapatkan tuntutan dari Apple karena memang versi 2.1 ini memiliki modus penampilan jendela secara cascade (bertumpuk), selain beberapa fitur sistem operasi Apple Macintosh yang "ditiru" oleh Windows, utamanya adalah masalah tampilan/look and feel. Hakim William Schwarzer akhirnya membatalkan semua 189 tuntutan tersebut, kecuali 9 tuntutan yang diajukan oleh Apple terhadap Microsoft pada tanggal 5 Januari 1989''

include presentation-footer
include main-footer
