- var pageTitle = 'Windows 3.0'

include presentation-header

include menu

article#presentation

	section
		h1 Windows 3.0

	section
		p  Windows 3.0 dirilis pada tanggal 22 Mei 1990 dan dalam versi inilah menjadi titik kesuksesan Microsoft. Selain menawarkan peningkatan kemampuan terhadap aplikasi Windows, Windows 3.0 juga mampu mengizinkan pengguna untuk menjalankan beberapa aplikasi MS-DOS secara serentak (multitasking), karena versi ini telah diperkenalkan virtual memory.
		img(src="images/Windows3.0.png")

	section
		p  Versi ini juga menjadikan IBM-PC dan kompatibelnya menjadi penantang serius terhadap Apple Macintosh. Hal ini disebabkan peningkatan performa pemrosesan grafik pada waktu itu dengan adanya kartu grafis (Video Graphics Array (VGA)), dan mengizinkan aplikasi Windows untuk memakai memori lebih banyak dengan cara yang lebih mudah dibandingkan dengan apa yang ditawarkan oleh MS-DOS.
		img(src="images/windows-3.0.jpg")

	section
		p  Windows 3.0 dapat berjalan di dalam tiga modus, yakni modus real, modus standard, dan modus 386 Enhanced. Windows 3.0 akan mencoba untuk mendeteksi modus mana yang akan digunakan, meski pengguna dapat memaksa agar Windows bekerja dalam modus tertentu saja dengan menggunakan switch-switch tertentu saat menjalankannya, seperti:
		ol
			li  win /r: memaksa Windows untuk berjalan di dalam modus real.
			li  win /s: memaksa Windows untuk berjalan di dalam modus standard.
			li  win /3: memaksa Windows untuk berjalan di dalam modus 386 Enhanced.
	section
		p  Windows versi 3.0 merupakan versi pertama Windows yang berjalan dalam modus terproteksi, meskipun kernel 386 enhanced mode merupakan versi kernel yang ditingkatkan dari kernel modus terproteksi di dalam Windows/386 2.1. Karena adanya fitur kompatibilitas, aplikasi Windows 3.0 harus dikompilasi dengan menggunakan lingkungan 16-bit, sehingga sama sekali tidak menggunakan kemampuan mikroprosesor Intel yang merupakan prosesor 32-bit.

	section
		p  Windows 3.0 juga hadir dalam versi Multimedia, yang disebut dengan Windows 3.0 with Multimedia Extensions 1.0, yang dirilis beberapa bulan kemudian. Versi ini dibundel dengan keberadaan "multimedia upgrade kit", yang terdiri atas drive CD-ROM dan sebuah sound card. Versi ini merupakan perintis semua fitur multimedia yang terdapat di dalam versi-versi Windows selanjutnya.

		p  Windows 3.0 menjadi sumber utama pemasukan Microsoft, karena dua tahun sejak pertama dirilis, Windows 3.0 terjual sebanyak 10 juta salinan.
	
	section
		p  Sebagai respons dari dirilisnya IBM OS/2 versi 2.0 ke pasaran, tanggal 6 April 1992, Windows 3.1 Multimedia dan Workgroups hadir dengan tampilan yang lebih manis dibandingkan versi sebelumnya. Versi ini merupakan peningkatan minor terhadap Windows 3.0 (seperti halnya kemampuan untuk menampilkan font TrueType Fonts yang dikembangkan bersama-sama dengan Apple). Versi ini juga sudah memiliki File Manager, Program Manager, serta mendukung 32-bit disk access. Versi multimedianya juga telah dilengkapi dengan media viewer untuk memainkan video.

	section
		img(src="images/Windows3.1.jpg") 
		img(src="images/windows-3.1.jpg")

include presentation-footer
include main-footer