- var pageTitle = 'Windows 3.0'

include presentation-header

include menu

article#presentation

	section
		h1 Windows 3.0

	section
		p  Windows 3.0 dirilis pada tanggal 22 Mei 1990 dan dalam versi inilah menjadi titik kesuksesan Microsoft. Selain menawarkan peningkatan kemampuan terhadap aplikasi Windows, Windows 3.0 juga mampu mengizinkan pengguna untuk menjalankan beberapa aplikasi MS-DOS secara serentak (multitasking), karena versi ini telah diperkenalkan virtual memory.
		img(src="images/Windows3.0.png")

	section
		p  Versi ini juga menjadikan IBM-PC dan kompatibelnya menjadi penantang serius terhadap Apple Macintosh. Hal ini disebabkan peningkatan performa pemrosesan grafik pada waktu itu dengan adanya kartu grafis (Video Graphics Array (VGA)), dan mengizinkan aplikasi Windows untuk memakai memori lebih banyak dengan cara yang lebih mudah dibandingkan dengan apa yang ditawarkan oleh MS-DOS.
		img(src="images/windows-3.0.jpg")

	section
		p  Windows 3.0 dapat berjalan di dalam tiga modus, yakni modus real, modus standard, dan modus 386 Enhanced. Windows 3.0 akan mencoba untuk mendeteksi modus mana yang akan digunakan, meski pengguna dapat memaksa agar Windows bekerja dalam modus tertentu saja dengan menggunakan switch-switch tertentu saat menjalankannya, seperti:
		ol
			li  win /r: memaksa Windows untuk berjalan di dalam modus real.
			li  win /s: memaksa Windows untuk berjalan di dalam modus standard.
			li  win /3: memaksa Windows untuk berjalan di dalam modus 386 Enhanced.


include presentation-footer
include main-footer