- var pageTitle = 'User Stories'

include presentation-header

include menu

article#presentation

	section
		h1 Windows 95

	section
		p Windows 95 adalah sistem operasi hibrida 16-bit/32-bit yang diproduksi oleh Microsoft. Windows 95 diperkenalkan ke publik pada tanggal 14 Agustus 1995, menyusul kampanye iklan yang agresif dari Microsoft.
		img.big(src="images/windows95.png")

	section
		p Windows 95 diperkenalkan dengan menggunakan rancangan menu "Start", menu inovatif untuk mengakses grup program (pengganti Program Manager), selain itu juga diperkenalkan Windows Explorer sebagai pengganti File Manager, dukungan plug-and-play, dukungan program aplikasi MS-DOS dan Windows 16-bit dan Windows 32-bit, dan dukungan bagi nama-nama berkas (file) yang panjang, yang mendukung penamaanhingga 256 karakter, dan browser opsional Microsoft Internet Explorer.

	section1
		h2 Spesifikasi Minimum untuk instal Windows XP
		ul
			li Personal Komputer (PC) with a 386DX or higher processor (486 recommended). 
			li 4 MB of Memory / RAM (8 MB recommended).
			li VGA or higher resolution (256 color SVGA recommended).
			li Hard disk (HDD) 35-40 MB (upgrade).
			li HDD yang dibutuhkan untuk menginstall windows 95 pada sistem bersih adalah 50-55 MB.
			li Floppy disk drive 3.5 inch.
			li keyboard dan mouse yang kompatibel.

	section1
		h2 Fitur Windows 95
		ul
			li Sebuah antarmuka grafis yang didesain ulang (sangat berbeda dengan versi <br>Windows 3.x), yakni desktop yang dapat dikonfigurasikan, adanya taskbar, <br>tombol Start, dan menu konteks.
			li Kompatibilitas dengan perangkat keras yang lama, serta aplikasi MS-DOS 16-bit <br>serta Windows 16-bit.
			li Fungsi multitasking yang ditingkatkan. Windows 95 menggunakan skema <br>preemptive multitasking, menggantikan skemacooperative multitasking yang <br>sebelumnya digunakan oleh Windows 3.x.
			li Dukungan jaringan terintegrasi yang cukup luas, mencakup Microsoft Networking <br>(NetBEUI), TCP/IP, NetWare (IPX/SPX),Banyan Vines; Windows Messaging <br>untuk berkirim e-mail; Dial-up Networking untuk koneksi Remote Access Services <br>(RAS) dan koneksi Internet.
			
	section1
		h2 Fitur Windows 95
		ul
			li Subsistem jaringan, subsistem disk, dan subsistem pencetakan yang berbasis <br>32-bit dan juga terintegrasi.
			li Dukungan terhadap nama berkas panjang.
			li Arsitektur 32-bit untuk driver perangkat, yang disebut oleh Microsoft Virtual <br>Device Driver (VxD).
			li Dukungan plug-and-play untuk mendeteksi instalasi perangkat keras dan <br>konfigurasi terhadapnya secara otomatis.
			li Dukungan Advanced Power Management (APM) untuk manajemen daya
			li Dukungan multimedia (audio/video) terintegrasi.
			li Dukungan terhadap manajemen secara terpusat dari server, seperti halnya <br>group policy, dan user profil
			
	section
		h2 Tampilan Desktop 95
		img.big(src="images/windows95desktop.png")
	
include presentation-footer
include main-footer