- var pageTitle = 'User Stories'

include presentation-header

include menu

article#presentation

	section
		h1 Windows 98

	section
		p Windows 98 adalah sistem operasi Windows yang dikeluarkan Microsoftpada 25 Juni 1998. Windows 98 merupakan pengembangan dari Windows 95, dan kemudian diteruskan oleh Windows Me. Masa dukungan penuhnya berakhir tanggal 11 Juli 2006.
		img.big(src="images/windows98.png")

	section
		h2 Windows 98 terdapat 2 edisi 
		hr
		ul
			li Windows 98 First Edition.
			li Windows 98 Second Edition.

	section
		h2 Windows 98 First Edition
		hr
		p Windows 98 adalah penerus dari Windows 95, dengan tambahan dukungan AGP, USB, Plug and Play yang lebih baik, sistem berkas FAT32dan Internet Explorer versi 4.0. Windows 98 adalah upgrade dari Windows 95. Seperti yang dideskripsikan sebagai sistem operasi, “Works Better, Plays Better,” Windows 98 adalah versi windows pertama yang di desain secara spesifik untuk konsumen. 
	
	section
		h2 Windows 98 Second Edition
		hr
		p Windows 98SE menambahkan dukungan pada Internet Explorer 5, NAT untuk berbagi koneksi Internet, Digital Versatile Disk (DVD), Windows Driver Model (WDM) yang menggantikan model Virtual Device Driver (VxD) serta Windows NetMeeting 3. Sistem ini menganut prinsip hibrida dengan dukungan kernel 16-bit/32-bit, dan masuk pada famili Windows 9x.
		
	section
		h2 Fitur tersembunyi Deskbar Options pada Windows 98 Beta
		hr
		ul
			li "Deskbar" adalah sebuah fitur menarik yang direncanakan oleh Microsoft untuk memperkenalkan Windows 98. Dengan bantuan fitur ini, pengguna Windows 98 bisa mengunduh bilah alat Desktop (Deskbars) dari situs-situs favorit mereka. Bilah alat mini bisa memperbarui diri secara otomatis berdasarkan pada interval waktu yang telah ditetapkan dan dapat memberikan informasi terbaru dari situs web sehingga pengguna tidak perlu mengunjungi situs-situs di peramban web.
			li Microsoft menerapkan fitur ini pada Windows 98 beta membangun dan berpikir bahwa webmaster akan mengembangkan bilah alat tersebut untuk situs web mereka, tetapi webmaster tidak menyukai gagasan ini. Ide ini akan merugikan kedua pemilik situs web serta pengiklan karena jika pengguna mendapatkan artikel terbaru, informasi berita langsung dari Desktop mereka, mengapa mereka mengunjungi situs yang sebenarnya? Ini bisa menurunkan kedua tampilan halaman website dan tampilan iklan. 

	section
		ul
			li Karena ide itu tidak berjalan seperti yang direncanakan, Microsoft memutuskan untuk menghapus fitur ini dari Windows 98 versi RTM. Mereka memutuskan untuk menyembunyikan tab dan itulah sebabnya tab ini tidak fungsional karena kode yang diperlukan untuk menghubungkan fungsi tab ini dengan bilah alat Desktop tidak hadir pada Windows 98.
			li Anda dapat menemukan tab tersebut dengan menekan terus tombol "Ctrl" sambil membuka Taskbar Properties, dan Anda menemukan opsi "Deskbar Options"pada jendela Taskbar Properties, namun sayangnya tab ini jarang digunakan. Segala sesuatu di tab itu berwarna abu-abu. Ada 3 tombol yang diberikan pada tab: Tambah, Hapus dan Properti tetapi semua 3 tombol yang dinonaktifkan. Sebuah wilayah daftar besar juga hadir tapi itu tidak mengandung apapun di dalamnya. Jadi pada dasarnya seluruh tab "Deskbar Options" bekerja seperti tab boneka. Itu tidak berfungsi sama sekali.

	section1
		h2 Spesifikasi Minimum untuk instal Windows 98
		hr
		ul
			li Prosesor Intel 80486DX 66MHz atau lebih tinggi (prosesor Pentium disarankan)
			li 16 MB RAM (24 MB atau lebih tinggi disarankan)
			li Ruang bebas kandar diska sedikitnya 500 MB
			li Monitor VGA atau resolusi lebih tinggi (640x480)
			li Kandar CD-ROM atau DVD-ROM
			li Mouse atau Keyboard

	section1
		h2 Kelebihan Windows 98
		hr
		ul
			li Kinerja lebih baik dari Windows 95
			li Kecepatan waktu start up dan shutdown yang lebih cepat dari Windows 95
			li Sistem FAT32 (File Allocation Table 32-bit) yang ukuran clusternya lebih kecil dibandingkan FAT16, sehingga menghemat ruang harddisk, fungsi untuk menyimpan file dlm bentuk table.
			li Windows 98 juga memiliki kemampuan mendownload sendiri file-file update Windows 98
			li Kemampuan multi display card yang dimiliki Windows 98
			li Internet Explorer 4.0 yang terintegrasi dengan desktop sehingga memudahkan browsing internet
			
	section1
		h2 Kelebihan Windows 98
		hr
		ul
			li Utility baru untuk tune up dan repair Windows, peningkatan dalam menjalankan kemampuan multimedia baik dalam kualitas grafis maupun kualitas suara
			li Dukungan yang lebih baik bagi device baru seperti USB,DVD, dll
			li Bugs di Windows 98 semakin sedikit, dan komputer yang menggunakan sistem operasi ini semakin jarang hang dibandingkan Windows 95
			li Lebih cepat jika digunakan untuk mengakses internet
			li Cocok untuk maen game-game ringan atau game playstation 1 dan jalannya pun stabil

	section1
		h2 Kekurangan Windows 98
		hr
		ul
			li Tampilannya kurang menarik dan masih terlalu kaku.
			li Kestabilan sistem kurang
			li Windows 98 lebih boros memori dan ruang harddisk daripada Windows 95
			li Sering terjadinya blue screen

	section
		h2Tampilan Desktop Windows 98
		img.big(src="images/windows98desktop.jpg")

include presentation-footer
include main-footer