- var pageTitle = 'Windows 2000'

include presentation-header

include menu

article#presentation

	section
		h1 Windows 2000

	section
		p  Windows 2000 adalah sistem operasi yang dikeluarkan Microsoft pada tanggal 17 Februari 2000. Windows 2000 dapat mendukung hampir semua perangkat keras yang kompatibel dengan Windows 98 (Plug and Play yang dimilikinya). Untuk mengetahui perangkat keras yang didukung oleh Windows 2000, tersedia sebuah daftar yang dinamakan HCL (Hardware Compatibility List) yang didapatkan pada www.microsoft.com/hwtest/hcl atau pada folder Support pada CD-ROM Windows 2000 Professional.
		img.big(src="images/windows-2000.jpg")

	section1
		p  Specifications Minumum Untuk Install Windows 2000:
		ul
			li  Processor 133MHz (req)
			li  RAM 64 MB (req), 256 (req)
			li  HD 2 BG, space 650 MB
			li  VGA
			li  CD-ROM 

	section1
		p  Windows 2000 tersedia dalam 6 (enam) edisi, yakni:	
		ul
			li  Windows 2000 Professional
			li  Windows 2000 Server
			li  Windows 2000 Advanced Server
			li  Windows 2000 Datacenter Server
			li  Windows 2000 Advanced Server Limited Edition
			li  Windows 2000 Datacenter Server Limited Edition

include presentation-footer
include main-footer