- var pageTitle = 'Windows 2000'

include presentation-header

include menu

article#presentation

	section
		h1 Windows 2000

	section
		p  Windows 2000 adalah sistem operasi yang dikeluarkan Microsoft pada tanggal 17 Februari 2000. Windows 2000 dapat mendukung hampir semua perangkat keras yang kompatibel dengan Windows 98 (Plug and Play yang dimilikinya). Untuk mengetahui perangkat keras yang didukung oleh Windows 2000, tersedia sebuah daftar yang dinamakan HCL (Hardware Compatibility List) yang didapatkan pada www.microsoft.com/hwtest/hcl atau pada folder Support pada CD-ROM Windows 2000 Professional.
		img.big(src="images/windows-2000.jpg")

	section1
		p  Specifications Minumum Untuk Install Windows 2000:
		ul
			li  Processor 133MHz (req)                     
			li  RAM 64 MB (req), 256 (req) 
			li  HD 2 BG, space 650 MB                     
			li  VGA
			li  CD-ROM

	section
		h2 Fitur Windows 2000
		p  1. Active Directory Service
		p  Directory Service dapat diumpamakan sebagai buku direktori telepon yang menyimpan berbagai informasi seperti nama, alamat dan nomor telepon yang disusun berdasarkan abjad sehingga memudahkan proses pencarian. Peranan Directory Service dalam suatu jaringan adalah sebagai database yang menyimpan berbagai informasi sumber daya obyek jaringan secara terpadu sehingga dapat dikelola dan dikonfigurasikan dengan mudah.
		p  Istilah Active Directory Service dalam Windows 2000 untuk memberikan penekanan pada kemampuan untuk melakukan berbagai fungsi manajemen secara dinamis dan terotomasi dengan mudah dan cepat.    

	section
		p  Informasi yang disimpan dalam Active Directory antara lain meliputi user dan group account, printer, file server, serta berbagai policy menyangkut user dan group user sebagai pengguna berkepentingan untuk dapat mengakses berbagai sumber dengan mudah dan cepat, sedangkan administrator berkepentingan untuk mengelola berbagai obyek jaringan secara efisien. 
		p  Active Directory memungkinkan pengelolaan jaringan menjadi lebih mudah karena berbagai sumber daya dan obyek dapat disimpan secara terpusat untuk dikonfigurasikan secara terpadu.

	section
		h2 Fitur Windows 2000
		p  2. Group Policy
		p  Group Policy merupakan media untuk mengatur profil user terutama yang berkaitan dengan desktop setting. Pengaturan yang dilakukan antara lain menentukan jenis aplikasi yang tersedia bagi user, konfigurasi start menu, serta akses terhadap berbagai icon seperti Control Panel dan My Computer.
		p  Fasilitas ini sangat berguna untuk menyesuaikan lingkungan tampilan desktop dengan tingkat keahlian seorang user, serta memberikan tingkat keamanan system sehingga berbagai konfigurasi sensitive tidak akan dirubah user. Group Policy dapat dikonfigurasikan secara terpusat dengan menggunakan fasilitas Active Directory.

	section
		h2 Fitur Windows 2000
		p  3. Distributed File System
		p  Ketika jaringan semakin besar dan jumlah user bertambah maka sering terjadi penyimpanan file menjadi tidak rapi lagi. File-file kerja dapat tersimpan di server maupun local di computer masing-masing dengan memberikan hak sharing bagi pemakai lain.

	section
		h2 Fitur Windows 2000
		p  4. Terminal Services
		p  Terminal Services merupakan fasilitas yang dapat digunakan untuk memanfaatkan komputer dengan hardware lama untuk dapat menjalankan aplikasi terbaru. Fasilitas ini sangat berguna untuk memudahkan administrasi dan maintenance berbagai aplikasi secara terpusat karena instalasi aplikasi hanya dilakukan di server.
		p  Namun demikian berbagai aplikasi berat seperti AutoCad dan Corel Draw tidak akan berjalan maksimal dengan tool ini. Aplikasi yang cocok digunakan antara lain berbagai suite aplikasi office seperti MS Office dan Internet Sharing. Terminal Service juga dapat digunakan untuk melakukan remote administration terhadap suatu server.

	section
		h2 Fitur Windows 2000
		p  5. Hacking Net Bios Windows 2000
		p  NetBIOS adalah suatu program aplikasi penghubung. NetBIOS dibuat oleh IBM dan SYTEK pada tahun 1984 untuk program jaringan pada pc mereka yang kemudian diadaptasikan oleh Microsoft dan meliputi ms-dos versi 3.1. Sejak saat itu NetBIOS telah menjadi suatu wordwide yang standart.
		p  NetBIOS merupakan alat penghubung program untuk berkomunikasi dengan jaringan, kemudian berstandart pada tingkatan protocol yang lebih rendah seperti NetBEUI untuk mengirimkan informasi antar mesin. NetBEUI berfungsi sebagai media penghubung NetBIOS ke jaringan. 

	section1
		p  Windows 2000 tersedia dalam 6 (enam) edisi, yakni:	
		ul
			li  Windows 2000 Professional
			li  Windows 2000 Server
			li  Windows 2000 Advanced Server
			li  Windows 2000 Datacenter Server
			li  Windows 2000 Advanced Server Limited Edition
			li  Windows 2000 Datacenter Server Limited Edition

	section1
		h2 Windows 2000 Server
		p  Sistem ini memiliki semua kemampuan yang ada pada versi professional ditambah berbagai fasilitas inti yang dibutuhkan sebagai server jaringan. Versi ini dapat digunakan sebagai file dan print server, application server, web server, maupun communication server.
		p  Fasilitas penting yang dimiliki versi ini antara lain :
		ul
			li Dukungan untuk penggunaan 2 processor bila diinstal dengan mode clean install, atau <br>4 processor apabila instalasi dilakukan dengan mengupgrade Windows NT Server
			li Active Directory Service untuk memudahkan pengelolaan sumber daya dan obyek jaringan
			li Sistem keamanan jaringan menggunakan Kerberos dan public key infrastructure
			li Internet Connection Sharing
			li Web Server dengan menggunakan Internet Information Service versi 5.0
			li Windows Terminal Service untuk memudahkan administrasi jaringan dan pemanfaatan <br>hardware computer lama sehingga dapat digunakan untuk berbagai aplikasi baru
			li Dukungan penggunaan RAM himgga 4 GB

	section1
		h2 Windows 2000 Advance Server
		p  Sistem ini memiliki kemampuan lebih tinggi dibandingkan versi standart, meliputi semua fasilitas Windows 2000 Server dengan beberapa tambahan feature penting yaitu :
		ul
			li Network Load Balancing untuk meningkatkan ketersediaan server serta meningkatkan kinerja
			li Windows Clustering, memungkinkan komunikasi antar server untuk bekerja sama membentuk <br>suatu cluster sebagai satu kesatuan system
			li Dukungan Symetric Multi Processing (SMP) hingga 8 processor
			li Mendukung RAM hingga 8 GB

	section1
		h2 Windows 2000 Data Center Server
		p  Sistem ini memiliki seluruh kemampuan versi Advance dengan tambahan berbgai fasilitas,yaitu :
		ul
			li Dukungan Symetric Multi Processing (SMP) hingga 32 processor
			li Mendukung RAM hingga 64 GB
			li Fungsi Clustering tingkat lanjut Windows 2000 Data Center Server sangat sesuai digunakan <br>sebagai system operasi server bisnis skala besar meliputi : Internet Service Provider (ISP) <br>dan Web Hosting, E-Commerce server dengan fasilitas Online Analytical Processing (OLTP), <br>Data Warehousing dan Server database skala besar dan Server kebutuhan riset

	section1
		h2  Kelebihan Windows 2000	
		ul
			li Stabil, dukungan drive lengkap
			li Plug and Play
			li USB 
			li AGP Port
			li Driver Signing
			li Win32Driver Model (WDM)
			li Multiprocessor
			li Compag Alpha EV4 processor
			li Sistem file FAT
			li Sistem file FAT32
			li Sistem file NTFS

	section1
		h2 Kekurangan Windows 2000
		ul
			li Ada beberapa program aplikasi dari OS sebelumnya yang <br>tidak kompatibel dengan windows 2000.
			li Spesifiksi pc harus agak tinggi dibandingkan dengan versi <br>sebelumnya.
			li Tidak open source, susah ditangani kalau ada problem.
			li Poor security.

include presentation-footer
include main-footer
