- var pageTitle = 'Bespoke'

include presentation-header

include menu

article#presentation

	section
		h2 Windows ME
	section
		ul
			li Windows ME, atau Windows Millennium Edition adalah sebuah versi Windows yang didesain khusus untuk pengguna rumahan, dan ditujukan untuk menggantikan pasar sistem operasi sebelumnya, Windows 98. 
			li Windows ini dapat berjalan tanpa bantuan MS-DOS. 
			li Windows sendiri adalah sistem operasi buatan Microsoft Corporation. 
	section
		ul
			li Seperti versi Windows sebelumnya, Windows Me merupakan sistem operasi transisi antara 16-bit ke 32-bit, sehingga semua program 16-bit dan 32-bit dapat didukung dengan baik.
			li Oleh Microsoft, Windows ME ini diluncurkan pada tanggal 14 September 2000 dengan nomor build 3000.
	section
		img.big(src="images/WindowsME.png")
	section
		img.big(src="images/WindowsME1.jpg")
	section
		img.big(src="images/WindowsME2.gif")

include presentation-footer
include main-footer