- var pageTitle = 'Bespoke'

include presentation-header

include menu

article#presentation

	section
		h1 Windows ME
	section
		ul
			li Windows ME, atau Windows Millennium Edition adalah sebuah versi Windows yang didesain khusus untuk pengguna rumahan, dan ditujukan untuk menggantikan pasar sistem operasi sebelumnya, Windows 98. 
			li Windows ini dapat berjalan tanpa bantuan MS-DOS. 
			li Windows sendiri adalah sistem operasi buatan Microsoft Corporation. 
	section
		ul
			li Seperti versi Windows sebelumnya, Windows Me merupakan sistem operasi transisi antara 16-bit ke 32-bit, sehingga semua program 16-bit dan 32-bit dapat didukung dengan baik.
			li Oleh Microsoft, Windows ME ini diluncurkan pada tanggal 14 September 2000 dengan nomor build 3000.
	section
		h2 Pengertian dan Sejarah Windows Me
		p Pada bulan September 2000, Microsoft memperkenalkan Windows Millennium Edition (dikenal juga dengan sebutan Windows Me atau Windows ME). Versi ini memperbarui Windows 98 dengan dukungan multimedia dan Internet yang lebih baik. Versi ini juga memasukkan fitur “System Restore,” yang mengizinkan para penggunanya untuk mengembalikan keadaan sistem ke sebuah titik yang dikenal baik-baik saja, pada saat sistem operasi mengalami kegagalan. System Restore menjadi fitur yang masih dipertahankan pada Windows XP. Versi ini juga memperkenalkan Windows Movie Maker versi pertama.

Windows Me dibuat dalam waktu yang singkat, kira-kira hanya satu tahun, yang ditujukan hanya untuk mengisi kekosongan rilis antara Windows 98 dan Windows XP sebagai sistem operasi untuk kelas rumahan. Fitur-fitur yang terdapat di dalam Windows Me (seperti Internet Explorer 5.5, Windows Media Player 7.0, dan Microsoft DirectX 7.1) bahkan bisa diperoleh secara gratis dari sitrus Windows Update, kecuali System Restore. Hasilnya, Windows Me pun tidak dianggap sebagai sebuah sistem operasi yang unik di antara saudara-saudaranya dari keluarga Windows 9x, Windows 95 dan Windows 98. Windows Me juga dikritik karena munculnya masalah kestabilan, dan juga dukungan terhadap MS-DOS yang berjalan di dalam modus real. Orang-orang bahkan menyebut Windows Me sebagai Windows Mistake Edition.
	section
		p Windows Me merupakan sistem operasi terakhir yang dibuat berdasarkan kernel monolithic Windows 9x dan MS-DOS. Versi ini pun menjadi versi terakhir sistem operasi Windows yang tidak memiliki Windows Product Activation (WPA).

Windows Me, Windows ME, atau Windows Millennium Edition adalah sebuah versi Windows yang didesain khusus untuk pengguna rumahan, dan ditujukan untuk menggantikan pasar sistem operasi sebelumnya, Windows 98. Windows sendiri adalah sistem operasi buatan Microsoft Corporation. Seperti versi Windows sebelumnya, Windows Me merupakan sistem operasi transisi antara 16-bit ke 32-bit, sehingga semua program 16-bit dan 32-bit dapat didukung dengan baik.
	section1 
		p Spesifikasi komputer untuk dapat menjalankan Windows ME
			ul 
				li Monitor dengan resolusi VGA
				li Processor Pentium 150 MHz atau lebih tinggi
				li Memory 32MB atau lebih tinggi
				li Minimum tersisa 320MB kapasitas hard-disk
				li drive CD-ROM
				li modem 28.8 Kbps untuk koneksi ke Internet
				li Kartu suara
				li Speakers atau  headphones
				li Mouse yang kompatibel
	section
		h2 Fitur-fitur Windows Me
		p Terdapat beberapa fitur baru di Windows Me, contohnya adalah sebagai berikut :
		1. Windows Image Acquisition : Windows Me memperkenalkan Windows Image Acquisition yang memungkinkan aplikasi Windows mudah dihubungkan dengan perangkat seperti kamera digital dan scanner. WIA (Windows Image Acquisition) dimaksudkan untuk memperbaiki pengaturan dan antarmuka pengguna untuk berinteraksi dengan scanner dan perangkat lainnya.
		2. Windows Movie Maker : Program ini didasarkan pada Direct Show dan Windows media. Dari namanya saja kita tahu bahwa fungsi program ini adalah membuat, mengedit video dan membuat DVD video.
		3. Windows media player 7 : Aplikasi Windows ini menawarkan banyak fitur dan kemampuan baru dibandingkan dengan versi sebelumnya. Seperti panduan dan tersedianya fasilitas Radio, sehingga kita dapat mendengarkan siaran radio dari internet. Selain itu, tampilannya bisa kita modifikasi, sehingga memudahkan pengguna dalam mengelola Windows Media Player.
		4. image Preview : Pada Windows me gambar dapat dilihat dengan menggunakan utiliti Image Preview. Hal ini memungkinkan pengguna untuk melihat foto, gambar, sebelum mencetak ke printer. format file yang didukung oleh image Preview adalah .bmp ; .dib ; .emf ; .gif ; .jpeg ; .png ; .tiff ; dan .wmf
		5. system Restore : Windows Me memperkenalkan “SYSTEM RESTORE”, yang berfungsi sebagai penyelamat sistem windows apabila terjadi masalah yang tidak diinginkan, seperti error. System Restore akan mengembalikan kondisi sebelum windows mengalami masalah. System restore hanya melindungi sistem windows, bukan dokumen dan file.
		6. Automatic Update : Aplikasi ini sangat bermamfaat untuk pengguna karena secara otomatis Windows mendownload dan menginstal update yang dianggap penting. Update ini berfungsi sebagai “PATCH” atau tambalan apabila sistem menemukan bug atau cacat.
	section
		h2 Kelebihan Windows ME
		p pendahulunya :

 

    PC health. Windows Me memberikan kemudahan, lebih intuitif dan kestabilan dalam menggunakan komputer. Kemampuan terbarunya termasuk :
        “System Restore”, yang memungkinkan penggunanya untuk mengembalikan konfigurasi software komputernya ke tanggal atau waktu di mana komputer masih bekerja dengan normal.
        “System File Protection”, yang menghindarkan terjadinya penghapusan file sistem kritikal secara tidak sengaja atau tanpa izin.
        “Auto Update” yang secara otomatis dapat mendownload update terbaru dari Microsoft tanpa intervensi dari pengguna; Sebagai tambahan, Windows Me dikombinasikan dengan “fast-boot” – pengoptimisasian hardware komputer, yang akan memberikan kemudahan untuk penggunanya dala mengakses informasi, komunikasi dan hiburan setiap saat.

 

    Digital Media. Dapat berbuat lebih banyak dengan gambar, video, music dan games menjadi sangat populer di antara pengguna komputer rumahan sehingga Windows Me memberikan peningkatan dalam bidang-bidang tersebut

	section
		p seperti :

    “Windows Image Acqusition” yang memudahkan penggunanya untuk memindahkan gambar-gambar digital dari kamera digital, scanner dan perangkat WIA-compliant lainnya;
    “Windows Movie Maker” yang menyediakan fasilitas untuk penggunanya dalam mengedit, menyimpan dan berbagi home-video secara digital;
    “Windows MediaT Player 7″ yang menawarkan kemampuan yang sudah terintegrasi di mana penggunanya dapat mencaeri, mengatur dan memainkan media digital;
    “DirectPlay® Voice Chat” yang memungkinkan para maniak game komputer saling berbicara satu dengan yang lainnya melalui Internet sepanjang permainan berlangsung.

 

    Home Networking. Windows Me lebih lanjut memungkinkan “connected home” melalui “Home Networking Wizard”, sebuah fitur yang membantu penggunanya untuk dapat berbagi dan mencari sumber daya yang dibagi dan menghubungkan

mereka; teknologi “Internet Connection Sharing”, jaringan USB yang telah disederhanakan, dan sebuah implementasi pertama dari teknologi Universal Plug and Play dalam sebuah Microsoft.

 

    Online Experience. Windows Me menyediakan pengalaman berinternet terbaik
	section
		h2 Kelemahan Windows ME
		p Disamping keunggulan Windows Me, ternyata ditemukan juga kelemahan-kelemahannya. Adapun kelemahan Windows Me adalah:

    1. Beberapa harus dilakukan secara manual. Contohnya, kita harus menginstal driver tersendiri apabila hardware tidak dapat dideteksi oleh Windows Me.
    2. Mulai ada aplikasi yang tidak dapat dijalankan di Windows Me. Kalaupun ada yang bisa dijalankan, kadang program yang dijalankan tidak optimal.
    3. Tidak adanya sistem perlindungan yang baik, jadi gampang terserang virus.
    4. Sudah ada penerus dari Windows Me yang memiliki tampilan lebih baik, yaitu Windows XP.
    5. Karena sudah digantikan oleh Windows XP, Windows Me hanya berumur 1 tahun. Setelah itu, Windows Me tidak didukung oleh microsoft
	section
		h2 Kesimpulan
		p Dari ulasan tadi, saya menyimpulkan bahwa Windows Me merupakan lanjutan dari Windows terdahulu yang mengalami peningkatan fitur. Beberapa contoh fitur baru dalam Windows Me adalah Windows Image Acquisition, Windows Movie Maker, Windows media player 7, image Preview, system Restore, dan Automatic Update. Selain itu, Windows Me memiliki sejumlah fitur lain yang tidak kalah canggih dari Windows terdahulu. Meskipun Windows Me sudah tidak didukung oleh Microsoft karena Microsoft sudah mengeluarkan penerus dari Windows Me, yakni Windows XP, Windows Me masih tetap dipilih para pengguna PC karena keunikan tersendiri dan kebutuhan hardwarenya juga tidak memberatkan user yang mungkin masih berkutat pada PENTIUM III.

	section
		img.big(src="images/WindowsME.png")
	section
		img.big(src="images/WindowsME1.jpg")
	section
		img.big(src="images/WindowsME2.gif")

include presentation-footer
include main-footer