- var pageTitle = 'Bespoke'

include presentation-header

include menu

article#presentation

	section
		h1 Windows ME
	section
		ul
			li Windows ME, atau Windows Millennium Edition adalah sebuah versi Windows yang didesain khusus untuk pengguna rumahan, dan ditujukan untuk menggantikan pasar sistem operasi sebelumnya, Windows 98. 
			li Windows ini dapat berjalan tanpa bantuan MS-DOS. 
			li Windows sendiri adalah sistem operasi buatan Microsoft Corporation. 
	section
		ul
			li Seperti versi Windows sebelumnya, Windows Me merupakan sistem operasi transisi antara 16-bit ke 32-bit, sehingga semua program 16-bit dan 32-bit dapat didukung dengan baik.
			li Oleh Microsoft, Windows ME ini diluncurkan pada tanggal 14 September 2000 dengan nomor build 3000.
			
	section
		h2 Pengertian dan Sejarah Windows Me
		p Pada bulan September 2000, Microsoft memperkenalkan Windows Millennium Edition (dikenal juga dengan sebutan Windows Me atau Windows ME). Versi ini memperbarui Windows 98 dengan dukungan multimedia dan Internet yang lebih baik. Versi ini juga memasukkan fitur “System Restore,” yang mengizinkan para penggunanya untuk mengembalikan keadaan sistem ke sebuah titik yang dikenal baik-baik saja, pada saat sistem operasi mengalami kegagalan. System Restore menjadi fitur yang masih dipertahankan pada Windows XP. Versi ini juga memperkenalkan Windows Movie Maker versi pertama.

		p Windows Me dibuat dalam waktu yang singkat, kira-kira hanya satu tahun, yang ditujukan hanya untuk mengisi kekosongan rilis antara Windows 98 dan Windows XP sebagai sistem operasi untuk kelas rumahan. Fitur-fitur yang terdapat di dalam Windows Me (seperti Internet Explorer 5.5, Windows Media Player 7.0, dan Microsoft DirectX 7.1) bahkan bisa diperoleh secara gratis dari sitrus Windows Update, kecuali System Restore. Hasilnya, Windows Me pun tidak dianggap sebagai sebuah sistem operasi yang unik di antara saudara-saudaranya dari keluarga Windows 9x, Windows 95 dan Windows 98. Windows Me juga dikritik karena munculnya masalah kestabilan, dan juga dukungan terhadap MS-DOS yang berjalan di dalam modus real. Orang-orang bahkan menyebut Windows Me sebagai Windows Mistake Edition.
		
	section
		p Windows Me merupakan sistem operasi terakhir yang dibuat berdasarkan kernel monolithic Windows 9x dan MS-DOS. Versi ini pun menjadi versi terakhir sistem operasi Windows yang tidak memiliki Windows Product Activation (WPA).

		p Windows Me, Windows ME, atau Windows Millennium Edition adalah sebuah versi Windows yang didesain khusus untuk pengguna rumahan, dan ditujukan untuk menggantikan pasar sistem operasi sebelumnya, Windows 98. Windows sendiri adalah sistem operasi buatan Microsoft Corporation. Seperti versi Windows sebelumnya, Windows Me merupakan sistem operasi transisi antara 16-bit ke 32-bit, sehingga semua program 16-bit dan 32-bit dapat didukung dengan baik.

	section1 
		h2 Spesifikasi minimum untuk menjalankan Windows ME
			ul 
				li Monitor dengan resolusi VGA
				li Processor Pentium 150 MHz atau lebih tinggi
				li Memory 32MB atau lebih tinggi
				li Minimum tersisa 320MB kapasitas hard-disk
				li drive CD-ROM
				li modem 28.8 Kbps untuk koneksi ke Internet
				li Kartu suara
				li Speakers atau  headphones
				li Mouse yang kompatibel
				
	section1
		h2 Fitur-fitur Windows ME
		ol
			li Windows Image Acquisition : Windows Me memperkenalkan Windows Image Acquisition yang memungkinkan aplikasi Windows mudah dihubungkan dengan perangkat seperti kamera digital dan scanner. WIA (Windows Image Acquisition) dimaksudkan untuk memperbaiki pengaturan dan antarmuka pengguna untuk berinteraksi dengan scanner dan perangkat lainnya.
			li Windows Movie Maker : Program ini didasarkan pada Direct Show dan Windows media. Dari namanya saja kita tahu bahwa fungsi program ini adalah membuat, mengedit video dan membuat DVD video.
			li Windows media player 7 : Aplikasi Windows ini menawarkan banyak fitur dan kemampuan baru dibandingkan dengan versi sebelumnya. Seperti panduan dan tersedianya fasilitas Radio, sehingga kita dapat mendengarkan siaran radio dari internet. Selain itu, tampilannya bisa kita modifikasi, sehingga memudahkan pengguna dalam mengelola Windows Media Player.
			li image Preview : Pada Windows me gambar dapat dilihat dengan menggunakan utiliti Image Preview. Hal ini memungkinkan pengguna untuk melihat foto, gambar, sebelum mencetak ke printer. format file yang didukung oleh image Preview adalah .bmp ; .dib ; .emf ; .gif ; .jpeg ; .png ; .tiff ; dan .wmf
			li system Restore : Windows Me memperkenalkan “SYSTEM RESTORE”, yang berfungsi sebagai penyelamat sistem windows apabila terjadi masalah yang tidak diinginkan, seperti error. System Restore akan mengembalikan kondisi sebelum windows mengalami masalah. System restore hanya melindungi sistem windows, bukan dokumen dan file.
			li Automatic Update : Aplikasi ini sangat bermamfaat untuk pengguna karena secara otomatis Windows mendownload dan menginstal update yang dianggap penting. Update ini berfungsi sebagai “PATCH” atau tambalan apabila sistem menemukan bug atau cacat.
			
	
				
	section
		img.big(src="images/WindowsME.png")
	section
		img.big(src="images/WindowsME1.jpg")
	section
		img.big(src="images/WindowsME2.gif")

include presentation-footer
include main-footer