- var pageTitle = 'Bespoke'

include presentation-header

include menu

article#presentation

	section
		h1 Windows Me
		p Windows ME, atau Windows Millennium Edition adalah sebuah versi Windows yang didesain khusus untuk pengguna rumahan, dan ditujukan untuk menggantikan pasar sistem operasi sebelumnya, Windows 98. 

	section
		p Windows ini dapat berjalan tanpa bantuan MS-DOS. 
		p Windows sendiri adalah sistem operasi buatan Microsoft Corporation. 
		p Seperti versi Windows sebelumnya, Windows Me merupakan sistem operasi transisi antara 16-bit ke 32-bit, sehingga semua program 16-bit dan 32-bit dapat didukung dengan baik. 
		p Oleh Microsoft, Windows ME ini diluncurkan pada tanggal 14 September 2000 dengan nomor build 3000.
	section
		h2.bullet Spesifikasi Tugas
		ul
			li Bentuk tim dengan anggota 3-4 orang (lebih atau kurang tidak diperbolehkan)
			li Setiap anggota adalah product owner dan developer
			li Setiap anggota akan memiliki kesempatan untuk menjadi Scrummaster
			li Pilih topik dalam bidang apapun selama tidak mengandung SARA
			li Setiap anggota harus memiliki account github dan trello
	
	section
		h2.bullet Scrummaster
		ul 
			li Scrummaster bertanggung jawab terhadap keseluruhan proses ketika dipilih.
			li Setiap tim harus memiliki sebuah log book yang mendetilkan hasil daily scrum tiap hari serta progress Sprint dan diisi oleh Scrummaster.
			li Log Book dibuat dalam format Text dan dipush ke repository oleh scrummaster.
			li Nilai dari Scrummaster dilihat dari frekuensi dan kualitas log book yang dipush.
			li Scrummaster berganti setiap 4 hari (tim 3 orang) dan 3 hari (tim 4 orang).
			li Setiap kali berganti Scrummaster maka berganti Sprint.
			li Scrummaster merangkap anggota dan tetap harus push (khusus di proyek ini).
			li Scrummaster memastikan trello dimanfaatkan.

	section
		h2.bullet Anggota
		ul
			li Anggota melakukan push setiap hari ke GitHub.
			li Nilai dari anggota akan dilihat dari frekuensi dan kualitas push.

	section
		h2.bullet Persiapan menjelang hari H
		ul
			li Pilih topik proyek
			li Buat BackLog
			li Buat Trello
			li Buat prioritas item di Backlog
			li Siapkan Burndown chart dengan excel
			li Buat Perencanaan Sprint

	section
		h2.bullet Yang dikumpulkan di hari H
		ul
			li Backlog (softcopy)
			li Burndown chart (softcopy)
			li Semua via E-Learning

include presentation-footer
include main-footer