- var pageTitle = 'Windows XP'

include presentation-header

include menu

article#presentation
	section
		h1 Windows XP

	section
		p Windows XP adalah jajaran sistem operasi berbasis grafis yang dibuat oleh Microsoft untuk digunakan pada komputer pribadi, yang mencakup komputer rumah dan desktop bisnis, laptop, dan pusat media (Media Center). Nama "XP" adalah kependekan dari "Experience". Windows XP merupakan penerus Windows 2000 Professional dan Windows Me, dan merupakan versi sistem operasi Windows pertama yang berorientasi konsumen yang dibangun di atas kernel dan arsitektur Windows NT.
	
	section
		p Windows XP pertama kali dirilis pada 25 Oktober 2001, dan lebih dari 400 juta salinan instalasi digunakan pada Januari 2006, menurut perkiraan seorang analis IDC. Windows XP digantikan oleh Windows Vista, yang dirilis untuk pengguna volume license pada 8 November 2006, dan di seluruh dunia untuk masyarakat umum pada tanggal 30 Januari 2007.
		img.big(src="images/windowsxp.jpg")

	section1
		h2 Spesifikasi Minimum untuk instal Windows XP
		ul
			li Intel Pentium / celeron Family / AMD K6 / athlon / Duron family atau processor yang kompatibel.
			li 233-MHz minimum yang diperlukan untuk processornya.
			li RAM 128 MB. Bisa juga dengan RAM 64 MB tapi kemungkinan kinerja dan beberapa fitur terbatasi.
			li 1,5 GB Ruang Hard disk.
			li Super VGA (800x600) atau resolusi yang lebih tinggi.
			li CD-ROM / DVD Drive.
			li keyboard dan mouse yang kompatibel.

	section
		h2 Latar Belakang
		hr
		p Windows XP sebelumnya dikenal dengan kode sandi "Whistler", yang mulai dikembangkan oleh para pengembang Microsoft pada pertengahan tahun 2000-an. Bersamaan dengan proyek ini, Microsoft juga tengah menggarap proyek Windows generasi baru penerus Windows Me (Millennium Edition) yang dinamakan dengan kode sandi "Windows Neptune" yang diproyeksikan sebagai "Windows NT versi rumahan".
		p Setelah Windows ME dianggap kurang sukses menyaingi kesuksesan Windows 98, Microsoft pun akhirnya memutuskan untuk mengawinkan dua buah sistem operasi Windows tersebut (sistem operasi berbasis Windows NT dan sistem operasi berbasis Windows 9x) ke dalam sebuah produk. Itulah yang kita kenal sekarang dengan Windows XP.

	section1
		h2 Windows XP tersedia dalam 7 (tujuh) edisi, yakni:
		ol
			li Windows XP Professional
			li Windows XP Home Edition
			li Windows XP Media Center Edition
			li Windows XP Tablet PC Edition
			li Windows XP Starter Edition
			li Windows XP Professional x64 Edition
			li Windows XP Professional x64 Edition for Itanium

	section
		h2 Windows XP Professional
		hr
		p Windows XP Professional adalah sistem operasi Windows XP yang dibuat khusus untuk komputer desktop yang terhubung ke dalam sebuah jaringan dengan domain yang dikelola oleh Active Directory milik Windows 2000 Server atau Windows Server 2003. Selain itu, versi ini pun dibilang jauh lebih lengkap fiturnya dari pada Windows XP Home Edition. Ia bisa menjadi sebuah komputer server, meskipun hanya bisa menampung maksimal sepuluh client yang bisa login secara bersamaan.

	section
		h2 Windows XP Home Edition
		hr
		p Windows XP Home Edition adalah sistem operasi Windows XP yang ditujukan untuk pengguna rumahan. Pada dasarnya, tidak ada perbedaan yang signifikan antara Windows XP Home Edition dengan Windows XP Professional, karena basis pembuatannya yang sama. Perbedaan yang diberlakukan terhadap versi Windows ini adalah dukungan jaringan, di mana Windows XP Home Edition tidak didesain untuk sistem dengan banyak pengguna, seperti halnya Windows XP Professional. Fitur jaringan yang tidak ada pun sangat banyak, diantaranya tidak dapat bergabung dengan sistem domain Active Directory, tidak memiliki sistem berkas terenkripsi, tidak dapat menjadi sebuah server (meski mampu membuat beberapa berkas dan folder yang dikelolanya dapat digunakan oleh beberapa pengguna sekaligus), dan tidak memiliki fitur Internet Connection Sharing (ICS), dan masih banyak yang lainnya.
		p Windows XP Home Edition ditujukan untuk menggantikan versi Windows sebelumnya, yaitu Windows 98 dan Windows ME, karena kedua versi Windows tersebut tergolong ke dalam kelas Windows untuk pengguna rumahan.

	section
		h2 Windows XP Media Center Edition
		hr
		p Windows XP Media Center Edition adalah versi Windows XP yang dibuat khusus untuk perangkat semacam Hi-Fi, dan PC yang diletakkan di ruang duduk. Pada dasarnya, Windows XP Media Center merupakan Windows XP Home Edition yang ditambahi dukungan sebagai perekam video pribadi (Personal Video Recorder).

	section
		h2 Windows XP Tablet PC Edition
		hr
		p Windows XP Tablet PC Edition adalah versi Windows XP yang dikhususkan untuk PC yang ultra-portabel, yang dinamakan oleh Microsoft dengan Tablet PC. Bentuknya yang minimalis seperti halnya Asisten Digital Pribadi (Personal Digital Assistantatau PDA), dengan kemampuan setara notebook atau laptop. Windows XP Tablet PC Edition dibangun berbasis Windows XP Professional, yang ditambahi dengan fitur pengenalan tulisan tangan (handwriting recognizition) yang lebih baik dibandingkan dengan Windows XP Professional biasa. Pada umumnya, sebuah Tablet PC dilengkapi dengan layar sentuh.

	section
		h2 Windows XP Professional x64 Edition
		hr
		p Windows XP Professional x64 Edition merupakan versi Windows XP yang dikhususkan untuk prosesor dengan arsitekturx86-64. Saat ini, prosesor yang menggunakan arsitektur tersebut terbatas pada prosesor AMD dengan arsitektur AMD64seperti Athlon 64 dan Opteron. Dari keluarga Intel ada Intel Pentium 4 dengan ekstensi EM64T (Extended Memory 64-bit Technology), dan beberapa seri dari Intel Pentium M dan D, serta beberapa varian dari keluarga Intel Core. Perbedaan dengan Windows XP Professional yang diluncurkan sebelumnya adalah pada dukungannnya terhadap akses memori lebih besar daripada 4 Gigabytes seperti pada Windows XP sebelumnya. Sebenarnya, prosesor 64-bit dari Intel maupun AMD dapat mengakses 16 Eksabyte memori, tetapi Microsoft membatasi kemampuan sistem operasi Windows ini hingga 16 Terabyte saja. Pada dasarnya, sistem operasi ini berbeda dari versi Windows XP yang lainnya, mengingat basis kode yang digunakan adalahWindows Server 2003, Standard Edition for x64, mengingat nomor versi yang digunakannya adalah 5.2.3790.

	section
		h2 Windows XP Professional 64-bit Edition for Itanium
		hr
		p Windows XP Professional 64-bit Edition for Itanium merupakan versi yang sangat terbatas sekali dilihat dari segi penjualannya. Akan tetapi, produk ini mendukung teknologi mikroprosesor yang sangat bagus, yaitu IA-64 yang digunakan oleh prosesor Intel Itanium dan Intel Itanium 2. Dukungan yang diberikan oleh Microsoft adalah dukungan terhadap semua fitur dari prosesor Itanium tersebut, akan tetapi karena sedikit sekali aplikasi yang didesain untuk prosesor Itanium, penyebaran produk ini sangat sedikit.
		p Perbedaan fitur dari Windows XP Professional x64 Edition adalah dukungannya terhadap prosesor Itanium, dengan segala arsitektur bawaannya, seperti EFI (Extensible Firmware Interface), dan GPT (GUID Partition Table). Meskipun prosesor Itanium merupakan prosesor dengan kinerja paling efisien, Itanium tidak dapat menjalankan program yang didesain untuk Windows XP versi 32-bit maupun Windows XP x64 Edition. Ketika menjalankan program yang tidak didesain untuknya, kinerjanya pun sangat rendah.

	section
		p Aplikasi yang didukung pun sangat sedikit, dan terbatas pada aplikasi yang berguna bagi komputasi tingkat tinggi, seperti aplikasi basis data, dan aplikasi ilmiah. Jika Windows versi x64 dan 32-bit mendukung akselerasi multimedia, Windows ini tidak dibekali dengan fungsi tersebut, karena memang prosesornya tidak dibekali dengan instruksi khusus untuk akselerasi multimedia.
		p Windows XP Professional 64-bit Edition telah dihentikan proses produksinya setelah Hewlett-Packard (satu-satunya produsen yang menawarkan workstation dengan prosesor Itanium) menghentikan penjualan workstation miliknya. Beberapa kalangan menilai, hal ini disebabkan karena Hewlett-Packard tidak begitu sukses dengan produk ini. Meski telah dihentikan proses produksinya, Microsoft tetap mendukung Windows XP 64-bit Edition ini hingga keseluruhan Windows XP dihentikan dukungannya oleh Microsoft.

	section
		h2 Windows XP Starter Edition
		hr
		p Windows XP Starter Edition merupakan versi Windows XP Home Edition yang diterjemahkan ke dalam bahasa lokal masing-masing dengan menggunakan Language Interface Pack (LIP). Bahasa yang digunakannya pun beragam, mulai dari Bahasa Indonesia, Melayu, Thailand, Turki, Rusia, India, Brazil, hingga bahasa Amerika Latin (Argentina, Chili, Meksiko, Ekuador,Uruguay, dan Venezuela). Menurut berbagai sumber, Microsoft membuat Windows XP Starter Edition dengan tujuan untuk memerangi sistem operasi GNU/Linux, karena sistem operasi tersebut populer di negara-negara dunia ketiga tersebut.
		
	section1
		h2 Kelebihan/Keunggulan Windows XP
		hr
		ul
			li Windows XP lebih stabil dan cepat saat melekukan booting karena relative lebih hemat resource.
			li Aplikasi yang support/ mendukung kinerja Windows XP sudah banyak dan <br>bisa bekerja secara maksimal.
			li Mudah untuk di pahami pengguna/ user karena dengan tools yang kompleks <br>namun relatif ringan sehingga pengguna akan merasa nyaman dan bersahabat <br>serta tidak merasa kebingunan untuk menggunakan windows XP.
			li Windows XP mudah untuk mengenali perangkat hardware tambahan yang terkoneksi <br>karena Plug and Play pada windows XP yang bekerja secara otomatis dan <br>dukungan driver-driver-nya yang competible dengan hardware suppliers.
			
	section1
		h2 Kelebihan/Keunggulan Windows XP
		hr
		ul
			li Saat menjalankan beberapa aplikasi Windows XP lebih stabil dalam kecepatan kinerjanya, <br>hal itu dikarenakan tidak ada file system untuk aplikasi bawaannya yang rakus resource dan <br>memory saat dijalankan. Selain itu juga relatif cepat untuk men-decode file-file yang diolah <br>secara berbarengan dengan aplikasi tambahan yang cukup besar untuk mengambil memory CPU.
			li Grafic User Interface (GUI) yang familiar mudah dipahami dan di mengerti oleeh pengguna.
			li Windows XP mempunyai Dukungan driver yang lebih banyak.
			li Lebih mudah untuk menginstal aplikasi pada MS Windows dibandingkan <br>pada Linux karena lebih banyak aplikasi yang berbasis MS Windows, banyak gratisan GPL <br>dan Freeware ditawarkan untuk  Windows.
			
	section1
		h2 Kekurangan/Kelemahan Windows XP
		hr
		ul
			li Windows XP mempunyai sistem keamanan yang kurang baik, sehingga tidak heran apabila banyak virus dan Hecker yang gampang sekali menyerang pengguna windows XP. Ketika melakukan browsing di Internet, Proteksi security Windows XP sangat rawan, karena Windows XP saat menginformasikan Virus Aktif baik itu yang sering menyusup seperti virus dan worm dengan melalui Security Centre tidak memberitahukan penyebabnya, tetapi hanya sekedar mendeteksi untuk dikonfirmasikan terhadap pengguna, sehingga pengguna harus menambah aplikasi utillity tambahan.
			li Karena sistem security centre windows XP tidak secara otomatis mendeteksi input-output yang tidak dikenal (unknow). Sehingga Resiko kehilangan data sangat besar dibanding Windows Vista.
			li Saat melakukan Akses Remote Administration sangat rawan dari virus dan penyusup karena dalam Remote Administration Windows XP, Network Securitiy-nya sangat lambat untuk membaca file-file crack yang bercampur dengan file system.
	
	section1
		h2 Kekurangan/Kelemahan Windows XP
		hr
		ul
			li Tidak terdapat Aero (Aplikasi bawaan untuk tambahan tampilan visual )  pada tampilan Visual Windows XP sehingga tidak memiliki tampilan 3D.
			li Pada Windows XP  Terlalu banyak system-crash jika dibandingkan pada Windows Vista.
			li Karena Firewall-nya terlalu lama untuk menginformasikan lewat security centre terhadap server. Mengakibatkan Sharing data di area jaringan tidak dapat dilakukan dengan cepat.
			li Ketika terdapat type jaringan dalam satu ruang dan waktu yang bersamaan seperti LAN dan WLAN, Windows XP tidak mempu mendeteksi suatu type jaringan untuk dipilih dan diaktifkan, 
			li Windows XP harus senantiasa diinstal ulang ketika ingin merestore file-file sistem.
	
	section
		h2 Tampilan Desktop Windows XP
		img.big(src="images/windowsXPdesktop.png")

include presentation-footer
include main-footer