nav(class="navbar navbar-default", role="navigation")
	div(class="container")
		div(class="navbar-header")
			button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="presentation-chooser")
				span(class="sr-only")
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
			a(class="navbar-brand", href="index.html") Microsoft Windows

		div(class="collapse navbar-collapse", id="presentation-chooser")
			ul(class="nav navbar-nav")
				li(class="dropdown")
					a(class="dropdown-toggle", data-toggle="dropdown", href="#") Pilih Presentasi <b class="caret"></b>
					ul(class="dropdown-menu")
						li <a href="1-Introduction.html">Pengenalan</a>
						li <a href="2-TeknologiKolaborasi.html">Windows 1.0</a>
						li <a href="3-PresentasiDenganBespokeJS.html">Windows 2.0</a>
						li <a href="4-SCRUM.html">Windows 3.0</a>
						li <a href="5-UserStories.html">Windows 95</a>
						li <a href="6-Trello.html">Windows 98</a>
						li <a href="7-PengenalanKontrolVersi.html">Windows 2000</a>
						li <a href="8-DasarKontrolVersi.html">Windows ME</a>
						li <a href="9-Commit.html">Windows XP</a>
						li <a href="10-LogDanHistory.html">Windows Vista</a>
						li <a href="6-TugasBeSpoke.html">Windows 7</a>
						li <a href="11-TimeMachine.html">Windows 8</a>
						li <a href="12-PushDanPull.html">Windows 10</a>
						li <a href="13-Branching.html">Branching (Percabangan)</a>
						li <a href="14-GitFlow.html">GitFlow Workflow</a>
